<style src="./stylesheets/index.css"></style>

<template>
  <Main/>
</template>

<script type="text/javascript">
import Main from 'Pages/main'

export default {
  name: 'App',
  components: {
    Main
  }
}
</script>
