<template>
  <div :class="[$style.video]">
    <div class="row">
      <div class="col-md-6">
        <p>Название:</p>
        <input type="text" name="name" :class="$style.videoName" placeholder="Введите название" v-model="video.name">
        <p style="margin-top: 10px;">Автор:</p>
        <input type="text" name="author" :class="$style.videoName" placeholder="Введите автора" v-model="video.author">
        <p style="margin-top: 10px;">Категория:</p>
        <v-select name="category" :options="categories" :value="video.category.name" :class="$style.videoCategory"></v-select>
        <p style="margin-top: 20px;">Курс:</p>
        <v-select name="course" :options="courses" :value="video.course.name"
          :class="[$style.videoCategory, video.category._id ? '' : 'disabled']"></v-select>
        <p style="margin-top: 10px;">Задачи:</p>
        <input type="text" name="task1" :class="$style.videoName" style="width: 100%" placeholder="Введите задачу" v-model="video.tasks[0]">
        <input type="text" name="task2" :class="$style.videoName" style="width: 100%" placeholder="Введите задачу" v-model="video.tasks[1]">
        <input type="text" name="task3" :class="$style.videoName" style="width: 100%" placeholder="Введите задачу" v-model="video.tasks[2]">
        <p style="margin-top: 20px;">Описание</p>
        <textarea v-model="video.description" :class="$style.videoDescription" rows="6" placeholder="Введите описание"></textarea>
      </div>
      <div class="col-md-6">
        <p>Ссылка на видео:</p>
        <input type="text" name="link" :class="$style.videoName" placeholder="Введите ссылку на видео" v-model="video.link">
        <p>Длительность видео:</p>
        <input type="text" name="duration" :class="$style.videoName" placeholder="Введите длительность видео" v-model="video.duration">
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-3 offset-md-9" style="text-align: right;">
        <button :class="[$style.videoSend, 'pointer', disabled ? '' : 'disabled']" @click="send">Отправить</button>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'AddVideo',
  data () {
    return {
      video: {
        category: {
          name: 'Выберите категорию'
        },
        course: {
          name: 'Выберите курс'
        },
        tasks: []
      },
      categories: [],
      courses: [],
      showLoader: false
    }
  },
  computed: {
    disabled () {
      return this.video.course._id && this.video.name && this.video.author && this.video.description && this.video.tasks && this.video.link && this.video.duration
    }
  },
  beforeMount () {
    this.getCategories()
    this.$store.commit('changeCurrentPage', 'Добавить видеоурок')
    this.$store.commit('changeCurrentNav', this.$route.name)
    if (this.$route.params.id) {
      this.checkVideo(this.$route.params.id)
    }
  },
  methods: {
    getCategories () {
      this.showLoader = true
      this.$api.getCategories()
        .then(res => {
          this.showLoader = false
          this.categories = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getCourses (category) {
      this.showLoader = true
      this.$apiCourse.getCourses(category)
        .then(res => {
          this.showLoader = false
          this.courses = res.data.list
          if (this.courses.length === 0) this.video.course.name = 'В этой категории нет курсов'
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    send () {
      if (this.$route.name === 'EditVideo') this.edit()
      else this.add()
    },
    add () {
      this.showLoader = true
      this.$apiVideo.addVideo(this.video)
        .then(res => {
          this.showLoader = false
          this.video = {
            category: {
              name: 'Выберите категорию'
            },
            course: {
              name: 'Выберите курс'
            },
            tasks: []
          }
          this.handleErr('Новый видеоурок успешно добавлен', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    edit () {
      this.showLoader = true
      this.$apiVideo.editVideo(this.video)
        .then(res => {
          this.showLoader = false
          this.checkVideo(this.video._id)
          this.handleErr('Видеоурок успешно отредактирован', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    checkVideo (id) {
      this.showLoader = true
      this.$apiVideo.checkVideo(id)
        .then(res => {
          this.showLoader = false
          this.video = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  mounted () {
    eventBus.$on('selectChange', (data) => {
      this.video[data.name] = data.project
      if (data.name === 'category') this.getCourses(data.project._id)
    })
  }
}
</script>

<style src="./style.css" module></style>
