<template>
  <div :class="[$style.video]">
    <div class="row">
      <div class="col-md-6">
        <p>Название:</p>
        <input type="text" name="name" :class="$style.videoName" placeholder="Введите название" v-model="video.name">
        <p style="margin-top: 10px;">Автор:</p>
        <input type="text" name="author" :class="$style.videoName" placeholder="Введите автора" v-model="video.author">
        <p style="margin-top: 10px;">Категория:</p>
        <v-select name="category" :options="categories" :value="video.category.name" :class="$style.videoCategory"></v-select>
        <p style="margin-top: 20px;">Курс:</p>
        <v-select name="course" :options="courses" :value="video.course.name"
          :class="[$style.videoCategory, video.category._id ? '' : 'disabled']"></v-select>
        <p style="margin-top: 10px;">Задачи:</p>
        <input type="text" name="task1" :class="$style.videoName" style="width: 100%" placeholder="Введите задачу" v-model="video.tasks[0]">
        <input type="text" name="task2" :class="$style.videoName" style="width: 100%" placeholder="Введите задачу" v-model="video.tasks[1]">
        <input type="text" name="task3" :class="$style.videoName" style="width: 100%" placeholder="Введите задачу" v-model="video.tasks[2]">
        <p style="margin-top: 20px;">Описание</p>
        <textarea v-model="video.description" :class="$style.videoDescription" rows="6" placeholder="Введите описание"></textarea>
      </div>
      <div class="col-md-6">
        <div class="flex">
          <div :class="[$style.fileUpload]" title="Загрузить код"> Загрузите код урока
            <input :class="[$style.fileUploadFile]" type="file" name="codename"  @change="uploadCode">
          </div>
          <div style="margin-top: 10px; margin-left: 20px;">{{video.codeFile ? video.codeFile.name : video.code}}</div>
        </div>
        <div :class="[$style.fileUpload]" title="Загрузить файл"> Загрузите видео
          <input :class="[$style.fileUploadFile]" type="file" name="filename"  @change="uploadFile">
        </div>
        <video id="my-video" controls style="width: 100%">
          <source :src="imageSrc" type='video/mp4'>
          <source :src="imageSrc" type='video/webm'>
          Ваш брузер не поддерживает HTML5
        </video>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6" style="text-align: right;">
        <button :class="[$style.videoSend, 'pointer', disabled ? '' : 'disabled']" @click="send">Отправить</button>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'AddVideo',
  data () {
    return {
      video: {
        category: {
          name: 'Выберите категорию'
        },
        course: {
          name: 'Выберите курс'
        },
        tasks: [],
        codeFile: {}
      },
      categories: [],
      courses: [],
      imageSrc: '',
      showLoader: false
    }
  },
  computed: {
    disabled () {
      return this.video.course._id && this.video.name && this.video.author && this.video.description && this.video.tasks && (this.video.file || this.video.link) && (this.video.code || this.video.codeFile)
    }
  },
  beforeMount () {
    this.getCategories()
    this.$store.commit('changeCurrentPage', 'Добавить видеоурок')
    this.$store.commit('changeCurrentNav', this.$route.name)
    if (this.$route.params.id) {
      this.checkVideo(this.$route.params.id)
    }
  },
  methods: {
    uploadFile (ev) {
      if (ev.target.files && ev.target.files[0]) {
        this.imageSrc = URL.createObjectURL(ev.target.files[0])
        var $source = document.getElementById('my-video')
        $source.load()
      }
      this.video.file = ev.target.files[0]
    },
    uploadCode (ev) {
      this.video.codeFile = ev.target.files[0]
    },
    getCategories () {
      this.showLoader = true
      this.$api.getCategories()
        .then(res => {
          this.showLoader = false
          this.categories = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getCourses (category) {
      this.showLoader = true
      this.$apiCourse.getCourses(category)
        .then(res => {
          this.showLoader = false
          this.courses = res.data.list
          if (this.courses.length === 0) this.video.course.name = 'В этой категории нет курсов'
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    send () {
      if (this.$route.name === 'EditVideo') this.edit()
      else this.add()
    },
    add () {
      this.showLoader = true
      var $source = document.getElementById('my-video')
      var minutes = Math.floor($source.duration / 60)
      var seconds = Math.floor($source.duration - minutes * 60)
      var data = new FormData()
      data.append('name', this.video.name)
      data.append('video', this.video.file)
      data.append('files', this.video.codeFile)
      data.append('course', this.video.course._id)
      data.append('description', this.video.description)
      data.append('tasks', this.video.tasks)
      data.append('author', this.video.author)
      data.append('duration', minutes + ':' + seconds)
      this.$apiVideo.addVideo(data)
        .then(res => {
          this.showLoader = false
          this.imageSrc = ''
          var $source = document.getElementById('my-video')
          $source.load()
          this.video = {
            category: {
              name: 'Выберите категорию'
            },
            course: {
              name: 'Выберите курс'
            },
            tasks: [],
            codeFile: {}
          }
          this.handleErr('Новый видеоурок успешно добавлен', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    edit () {
      this.showLoader = true
      var $source = document.getElementById('my-video')
      var minutes = Math.floor($source.duration / 60)
      var seconds = Math.floor($source.duration - minutes * 60)
      var data = new FormData()
      console.log(this.video)
      data.append('name', this.video.name)
      data.append('video', this.video.file)
      data.append('files', this.video.codeFile)
      data.append('course', this.video.course._id)
      data.append('description', this.video.description)
      data.append('tasks', this.video.tasks)
      data.append('author', this.video.author)
      data.append('duration', minutes + ':' + seconds)
      this.$apiVideo.editVideo(data, this.video._id)
        .then(res => {
          this.showLoader = false
          this.checkVideo(this.video._id)
          this.handleErr('Видеоурок успешно отредактирован', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    checkVideo (id) {
      this.showLoader = true
      this.$apiVideo.checkVideo(id)
        .then(res => {
          this.showLoader = false
          this.video = res.data
          this.imageSrc = res.data.link
          var $source = document.getElementById('my-video')
          $source.load()
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  mounted () {
    eventBus.$on('selectChange', (data) => {
      this.video[data.name] = data.project
      if (data.name === 'category') this.getCourses(data.project._id)
    })
  }
}
</script>

<style src="./style.css" module></style>
