.video {
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  height: calc(100vh - 102px);
  overflow: auto;
  color: #848484;
  position: relative;
  font-size: 14px;

  & p {
    margin: 0;
  }

  &--name {
    margin: 10px 0;
    width: 60%;
    padding: 5px 10px;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 2px;

    &:focus {
      outline:none; 
      border: 1px solid #7ab6ec;
      -webkit-box-shadow: 0px 0px 5px  #7ab6ec;
      box-shadow: 0px 0px 5px  #7ab6ec;
    }

    &::placeholder {
      color: #999;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #999;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #999;
    }
  }

  &--category {
    width: 60%;
    margin: 10px 0;
  }

  &--price {
    width: 60%;
    margin: 10px 0;

    &--input {
      width: 60%;
      padding: 5px 10px;
      color: inherit;
      border: 1px solid #ccc;
      border-radius: 2px;

      &:focus {
        outline:none; 
        border: 1px solid #7ab6ec;
        -webkit-box-shadow: 0px 0px 5px  #7ab6ec;
        box-shadow: 0px 0px 5px  #7ab6ec;
      }

      &::placeholder {
        color: #999;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #999;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #999;
      }
    }

    &--currency {
      width: 35%;
    }
  }

  &--description {
    width: 100%;
    margin: 10px 0;
    resize: none;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;

    &:focus {
      outline:none; 
      border: 1px solid #7ab6ec;
      -webkit-box-shadow: 0px 0px 5px  #7ab6ec;
      box-shadow: 0px 0px 5px  #7ab6ec;
    }

    &::placeholder {
      color: #999;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #999;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #999;
    }
  }

  &--preview {
    width: 100%;
    min-height: 250px;
    border: 1px solid #ccc;
    border-radius: 2px;

    &--img {
      width: 100%;
      border-radius: 2px;
      border: 1px solid #ccc;
    }
  }

  &--send {
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: inherit;
    padding: 5px 20px;
    background-color: #1389E5;
    outline: none;
  }
}

.fileUpload {
  position: relative;
  background: #fff;
  color: #1389E5;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
  width: 30%;
  cursor: pointer;
  padding: 7.5px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #1389E5;
  margin-bottom: 20px;

  &--file {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: pointer;
  }
}
