<template>
  <div class="dup-body">
    <div class="dup-body-wrap">
      <!-- Start Header Area -->
      <header class="default-header">
        <div class="header-wrap">
          <div class="header-top d-flex justify-content-between align-items-center">
            <div class="logo">
              <Logo color="black"/>
            </div>
          </div>
        </div>
      </header>
    <!-- End Header Area -->
    <!-- Start Banner Area -->
    <section class="banner-area relative">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row fullscreen align-items-center justify-content-between" style="height: 826px">
          <div class="col-lg-6 col-md-7 col-sm-8">
            <div class="banner-content">
              <h1>Онлайн видеоуроки <br> от настоящих профессионалов </h1>
              <p>Изучите лучшие инструменты и фреймворки по JavaScript от профессионалов.</p>
              <router-link to="signup" class="primary-btn">Зарегистрироваться<span class="lnr lnr-arrow-right"></span></router-link>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-4">
            <img src="/images/banner.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Area -->
    <!-- Start studio Area -->
    <section class="section-gap studio-area">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 col-sm-6 text-center">
            <div class="studio-thumb">
              <img src="/images/s.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-md-8 col-sm-6">
            <div class="studio-content">
              <h2>Что такое NextStep?</h2>
              <p>NextStep - это образовательный портал, содержащий курсы в сфере программирования.  Курсы состоят из видео-уроков, книг и практических заданий. Стоимость каждого курса составляет 1$. Авторское право видео-уроков принадлежит компании ТОО “Automato”.</p>
              <router-link to="signup" class="primary-btn">Узнать больше<span class="lnr lnr-arrow-right"></span></router-link>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End studio Area -->
    <!-- Start Achivement Area -->
    <section class="section-gap achivement-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="achivement-content">
              <h2>Не откладывайте на потом</h2>
              <p class="mb-30">Готовы начать? В NextStep есть различные курсы для вас, чтобы вы начали учиться сегодня. Создайте свою учетную запись и выберите курс, чтобы начать учиться.</p>
              <router-link to="signup" class="primary-btn">Начать сейчас<span class="lnr lnr-arrow-right"></span></router-link>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="total-achivement">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="single-achivement">
                    <a href="#" class="achivement-link">
                      <i class="fab fa-react"></i>
                    </a>
                    <h6><a href="#">React</a></h6>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-achivement">
                    <a href="#" class="achivement-link">
                      <i class="fab fa-angular"></i>
                    </a>
                    <h6><a href="#">AngularJS</a></h6>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-achivement">
                    <a href="#" class="achivement-link">
                      <i class="fab fa-vuejs"></i>
                    </a>
                    <h6><a href="#">VueJS</a></h6>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-achivement">
                    <a href="#" class="achivement-link">
                      <i class="fab fa-node"></i>
                    </a>
                    <h6><a href="#">NodeJS</a></h6>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-achivement">
                    <a href="#" class="achivement-link">
                      <i class="fab fa-laravel"></i>
                    </a>
                    <h6><a href="#">Laravel</a></h6>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="single-achivement">
                    <a href="#" class="achivement-link">
                      <i class="fab fa-html5"></i>
                    </a>
                    <h6><a href="#">HTML5</a></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Achivement Area -->
    <!-- Start Video Area -->
    <section class="video-area">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="video-content">
          <!-- <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><img src="img/play-btn.png" alt=""></a> -->
          <h3 class="h2 text-white">Все хотят быть уникальными</h3>
        </div>
      </div>
    </section>
    <!-- End Video Area -->
    <!-- Start Contact Area -->
    <section class="contact-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-address text-center">
              <h6>Посетите наш офис</h6>
              <p>мкр. Самал 2, дом 58, блок А, 10 этаж, Алматы, Казахстан</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-address text-center">
              <h6>Позвоните нам</h6>
              <p>+7 (708) 197 6021</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-address text-center">
              <h6>Напишите нам</h6>
              <p><a href="mailto:ok@automato.me">ok@automato.me</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Area -->

    <!-- Strat Footer Area -->
    <footer class="section-gap footer-widget-area">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
          <p class="footer-text m-0">Copyright &copy; 2018 All rights reserved   |   Made with <i class="fas fa-heart" aria-hidden="true"></i> by <a href="http://automato.me/">AUTOMATO</a></p>
          <div class="footer-social d-flex align-items-center">
            <a href="https://www.facebook.com/automato.me"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/automato.me/"><i class="fab fa-instagram"></i></a>
            <a href="https://t.me/automatoteam"><i class="fab fa-telegram"></i></a>
            <a href="https://medium.com/@automatoilovepeople"><i class="fab fa-medium"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer Area -->
    </div>
  </div>
</template>

<script type="text/javascript">
import Logo from 'Components/logo'

export default {
  name: 'Landing',
  components: {
    Logo
  }
}
</script>

<style src="./style.css" module></style>
