<style type="text/css">
  time {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
</style>

<template>
  <time :datetime="date">
    {{pubDate}}
  </time>
</template>

<script type="text/javascript">
import moment from 'moment'

export default {
  name: 'Date',
  props: {
    date: '',
    format: {
      type: String,
      default: 'D MMMM YYYY'
    },
    lang: {
      type: String,
      default: 'ru'
    }
  },
  computed: {
    pubDate () {
      return moment(this.date).locale(this.lang).format(this.format)
    }
  }
}
</script>