<template>
  <div class="wrapper flex fl-aic">
    <div class="container">
      <div class="row" style="margin-bottom: 80px;">
        <Logo/>
      </div>
      <div class="row">
        <div :class="['col-md-5', $style.body]">
          <h2>Авторизация</h2>
          <form :class="[$style.bodyForm]" @submit.prevent="login">
            <input type="text" name="email" placeholder="Email или Логин" v-model="user.email" onfocus="this.placeholder = ''"
              :class="['single-input', error.email ? $style.error : '']" onblur="this.placeholder = 'Email или Логин'">
            <p :class="error.email ? $style.error : ''">{{error.email}}</p>
            <input type="password" name="password" placeholder="Введите пароль" v-model="user.password" onfocus="this.placeholder = ''"
              :class="['single-input', error.password ? $style.error : '']" onblur="this.placeholder = 'Введите пароль'">
            <p :class="error.password ? $style.error : ''">{{error.password}}</p>
            <input type="submit" name="send" value="Войти" :class="['genric-btn primary radius']">
          </form>
          <div :class="[$style.bodyForget]">
            <router-link to="forget">Забыли пароль?</router-link>
          </div>
        </div>
      </div>
      <div class="row">
        <div :class="['col-md-5', $style.footer]">
          <p>Еще нет аккаунта? <router-link to="signup">Зарегистрироваться</router-link></p>
        </div>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import Logo from 'Components/logo'

export default {
  name: 'Login',
  components: {
    Logo
  },
  data () {
    return {
      user: {},
      error: {},
      showLoader: false
    }
  },
  methods: {
    login () {
      this.error = {}
      this.showLoader = true
      this.$auth.login(this.user)
        .then((res) => {
          this.showLoader = false
          // this.showNotification('Вы успешно зарегистрировались', 'notification-success')
          this.$router.go('/categories')
        })
        .catch((err) => {
          this.showLoader = false
          if (!err.response) {
            this.error = err
          } else if (err.response.data.message) {
            this.showNotification(err.response.data.message, 'notification-error')
          } else {
            this.error = err.response.data
          }
        })
    },
    showNotification (msg, type) {
      this.$notify({
        group: 'nextstep',
        type: type,
        text: msg,
        speed: 300
      })
    }
  }
}
</script>

<style src="./style.css" module></style>
