.body {
  background-color: #fff;
  padding: 15px;
  margin: 0 auto;
  border-radius: 3px;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  font-size: 14px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

  & h2 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0;
  }

  &--form {
    padding: 0 5px;

    & input {
      display: block;
      width: 100%;
      padding: 8px 12px;
      line-height: 20px;
      border-radius: 2px; 
    }

    &--text {
      /*margin-bottom: 15px;*/
      border: 1px solid #ccc;
      color: #555;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

      &:focus {
        outline:none; 
        border:1px solid #7ab6ec;
        -webkit-box-shadow: 0px 0px 5px  #7ab6ec;
        box-shadow: 0px 0px 5px  #7ab6ec;
      }

      &::placeholder {
          color: #999;
          opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: #999;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
         color: #999;
      }
    }

    &--btn {
      background-color: #70B6F9;
      color: #fff;
      border: none;
      outline:none;
    }
  }

  &--forget {
    text-align: center;
    margin: 20px 0;

    & a {
      color: #5B7D9E;
    }
  }

  &--msg {
    color: #9AA0A3;
    font-size: 13px;
    text-align: center;
  }
}

.footer {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #fff;

  & a {
    color: #fff;
    text-decoration: underline;
  }
}

p.error {
  margin: 5px 0;
  color: #dc3545;
}

input.error {
  border:1px solid #dc3545;
}

.notfound {
  text-align: center;
  color: #dc3545;
}
