<template>
  <div :class="$style.book">
    <div class="row" style="height: 100%;">
      <div class="col-md-8" style="height: 100%;">
        <div :class="[$style.bookFirst, 'flex']">
          <img :src="book.photo">
          <div :class="$style.bookFirstItem">
            <div class="flex fl-sb">
              <div>
                <p><span style="font-weight:700">Автор:</span> {{book.author}}</p>
                <p><span style="font-weight:700">Год:</span> {{book.year}}</p>
                <p><span style="font-weight:700">Кол.стр.:</span> {{book.pages}}</p>
              </div>
              <div style="text-align: right; padding: 10px;">
                <a :href="book.link" target="_blank" title="Скачать книгу"><i class="icon-download2" ></i></a>
              </div>
            </div>
            <div>
              <p style="font-weight:700">Описание</p>
              <p>{{book.description}}</p>
            </div>
          </div>
        </div>
        <div :class="[$style.bookSecond]">
          <p>Напишите навыки или знания, которые вы приобрели после прочтения книги</p>
          <textarea v-model="newGoal.text" rows="6"></textarea>
          <div class="text-right"><button @click="send" :class="['genric-btn radius', newGoal.text.length === 0 ? 'disable' : 'primary']"
            :disabled="newGoal.text.length === 0">{{newGoal._id ? 'Изменить' : 'Добавить'}}</button></div>
        </div>
      </div>
      <div class="col-md-4" style="height: 100%;overflow-y: hidden;">
        <div :class="$style.bookThird" v-if="next._id || prev._id">
          <div :class="$style.bookThirdEach" v-if="next._id">
            <h5>Следующая книга</h5>
            <div class="container">
              <div class="row" style="min-height: 40px;">
                <div class="col-md-2 flex fl-c fl-aic fl-dc" :class="$style.bookThirdEachLeft">
                  <img :src="book.course.logo" class="pointer">
                  <i class="icon-play2 pointer" @click="goToNext"></i>
                </div>
                <div class="col-md-10 flex fl-aic" :class="$style.bookThirdEachLeft">{{next.name}}</div>
              </div>
            </div>
          </div>
          <div :class="$style.bookThirdEach" v-if="prev._id">
            <h5>Предыдущая книга</h5>
            <div class="container">
              <div class="row" style="min-height: 40px;">
                <div class="col-md-2 flex fl-c fl-aic" :class="$style.bookThirdEachLeft">
                  <img :src="book.course.logo" class="pointer">
                  <i class="icon-play2 pointer" @click="goToPrev"></i>
                </div>
                <div class="col-md-10 flex fl-aic" :class="$style.bookThirdEachLeft">{{prev.name}}</div>
              </div>
            </div>
          </div>
        </div>
        <div :class="$style.bookFourth">
          <div :class="[$style.bookFourthBox]"><h3>Мои навыки:</h3></div>
          <div :class="[$style.bookFourthGoal, 'pointer']" v-for="(goal, index) in goals" :key="goal._id">
              <div :class="[$style.bookFourthGoalIcon]">
                <i class="icon-pencil pointer" title="Редактировать" @click="newGoal = goal"></i>
                <i class="icon-bin pointer" title="Удалить" style="margin-left: 5px;" @click="openModal(goal)"></i>
              </div>
              <span >&#10077;</span>
              {{goal.text}}<span>&#10078;</span>
              <p><a-date :date="goal.updated_at"></a-date></p>
          </div>
          <div :class="[$style.bookFourthBox]" v-if="goals.length === 0" style="text-align:center">У вас еще нет навыков.
          </div>
        </div>
      </div>
    </div>
    <modal name="delete-goal" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удаление навыка</p>
          <button name="cancel" title="Закрыть окно" @click="closeModal" class="pointer"><i class="icon-cross"></i></button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]">
            <p>Вы уверены, что хотите удалить этот навык?</p>
            <div class="flex fl-se"><button class="genric-btn primary radius" @click="remove">Да</button>
              <button class="genric-btn primary-border radius" @click="closeModal">Нет</button></div>
          <v-loader :show="showLoader"></v-loader>
        </form>
      </div>
    </modal>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import aDate from 'Components/date'

export default {
  name: 'OneBook',
  data () {
    return {
      book: {
        course: {}
      },
      showLoader: false,
      next: {},
      prev: {},
      goals: [],
      newGoal: {
        text: ''
      },
      goalToDelete: ''
    }
  },
  beforeMount () {
    this.$store.commit('changeCurrentNav', 'Category')
    this.getBook()
    this.getNextBook()
    this.getPrevBook()
    this.getGoals()
  },
  methods: {
    openModal (goal) {
      this.goalToDelete = goal._id
      this.$modal.show('delete-goal')
    },
    closeModal () {
      this.$modal.hide('delete-goal')
    },
    getBook () {
      this.showLoader = true
      this.$apiBook.checkBook(this.$route.params.id)
        .then(res => {
          this.showLoader = false
          this.book = res.data
          this.$store.commit('changeCurrentPage', res.data.name)
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getNextBook () {
      this.showLoader = true
      this.$apiBook.getNextBook(this.$route.params.id)
        .then(res => {
          this.showLoader = false
          this.next = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getPrevBook () {
      this.showLoader = true
      this.$apiBook.getPrevBook(this.$route.params.id)
        .then(res => {
          this.showLoader = false
          this.prev = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getGoals () {
      this.showLoader = true
      this.$apiBook.getGoals(this.$route.params.id)
        .then(res => {
          this.showLoader = false
          this.goals = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    send () {
      if (this.newGoal._id) this.edit()
      else this.add()
    },
    add () {
      this.showLoader = true
      this.$apiBook.addGoal(this.$route.params.id, this.newGoal)
        .then(res => {
          this.goals.push(res.data)
          this.showLoader = false
          this.newGoal = {
            text: ''
          }
          this.handleErr('Новый навык успешно добавлен', 'notification-success')
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    edit () {
      this.showLoader = true
      this.$apiBook.editGoal(this.newGoal)
        .then(res => {
          this.goals.forEach((item, index) => {
            if (item._id.toString() === this.newGoal.toString()) {
              this.goals[index] = res.data
            }
          })
          this.showLoader = false
          this.newGoal = {
            text: ''
          }
          this.handleErr('Навык успешно отредактирован', 'notification-success')
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    remove () {
      this.showLoader = true
      this.$apiBook.removeGoal(this.$route.params.id, this.goalToDelete)
        .then(res => {
          this.goals.forEach((item, index) => {
            if (item._id.toString() === this.goalToDelete.toString()) {
              this.goals.splice(index, 1)
            }
          })
          this.closeModal()
          this.showLoader = false
          this.goalToDelete = ''
          this.handleErr('Навык успешно удален', 'notification-success')
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    goToPrev () {
      this.$router.push('/book/' + this.prev._id)
    },
    goToNext () {
      this.$router.push('/book/' + this.next._id)
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  components: {
    aDate
  },
  watch: {
    '$route' () {
      this.getBook()
      this.getNextBook()
      this.getPrevBook()
      this.getGoals()
    }
  }
}
</script>

<style src="./style.css" module></style>
