.book {
  height: calc(100vh - 102px);
  font-size: 14px;
  color: #848484;

  & p {
    margin: 10px 0;
  }

  &--first {
    background-color: #fff;
    margin-bottom: 20px;

    &--item {
      /*margin-left: 10px;*/
      width: calc(100% - 200px);
      padding: 10px 20px;
    }

    & img {
      width: 200px;
      height: 285px;
    }

    & a {
      text-decoration: none;
      color: inherit;
      font-size: 1.5em;

      &:hover {
        color: #1389E5;
      }
    }
  }

  &--second {
    background-color: #fff;
    padding: 10px 20px 20px;

    & textarea {
      border: 1px solid #ccc;
      border-radius: 2px;
      resize: none;
      width: 100%;
      outline: none;
      padding: 10px;
      margin-bottom: 10px;
    }
  }

  &--third {
    background-color: #fff;
    margin-bottom: 20px;

    &--each {
      padding: 10px 20px;

      &:nth-child(2) {
        border-top: 1px solid #ccc;
      }

      &--left {
        /*text-align: center;*/
        padding: 0;

        & i {
          display: none;
          font-size: 24px;
          color: #df003a;
        }

        & img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }

        &:hover {

          & i {
            display: block;
          }

          & img {
            display: none;
          }
        }
      }
    }
  }

  &--fourth {
    /*background-color: #fff;*/
    /*padding: 20px 20px 10px;*/
    min-height: calc(100% - 213px);
    overflow-y: scroll;
    max-height: 100%;

    &--box {
      padding: 20px;
      background: #fff;

      &:nth-child(2) {
        margin-top: 10px;
      }
    }

    &--goal {
      padding: 20px;
      width: 100%;
      min-height: 50px;
      background-color: #fff;
      border: 1px solid #fff;
      margin-top: 10px;
      font-style: italic;
      border-width: 1px 0;
      position: relative;

      &--icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 12px;
        
        & i {
          display: none;
        }
      }
      /*border-bottom: 1px solid #ccc;*/

      &:first-child {
        margin-top: 0;
      }

      & span {
        font-size: 18px;
      }

      & p {
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        text-align: right;
      }

      &:hover {
        /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
        border-color: #ccc;
        /*border-bottom: 1px solid #fff;*/
        -webkit-box-shadow: 2px 2px 10px 2px rgba(204,204,204,0.75);
        -moz-box-shadow: 2px 2px 10px 2px rgba(204,204,204,0.75);
        box-shadow: 2px 2px 10px 2px rgba(204,204,204,0.75);

        & i {
          display: inline;
        }
      }
    }

    & h3 {
      margin: 0;
    }
  }
}

.modal {
  height: 100%;
  font-size: 14px;

  &--header {
    color: #fff;
    /*padding: 0 20px;*/
    /*line-height: 3;*/
    background: #df003a;

    & p {
      padding: 0 10px;
    }

    & button {
      background-color: #df003a;
      border: none;
      padding: 0 10px;
      color: #fff;
      font-size: 12px;

      & i {
        color: inherit;
      }
    }
  }

  &--body {
   padding: 10px 20px 20px; 

   & p {
    text-align: center;
   }

   & div {
    text-align: center;

    & button {
      line-height: 2em;    }
   }
  }
}