<template>
  <div class="wrapper flex fl-aic">
    <div class="container">
      <div class="row" style="margin-bottom: 30px;">
        <Logo/>
      </div>
      <div class="row">
        <div :class="['col-md-5', $style.body]">
          <h2>Восстановление пароля</h2>
          <p :class="$style.bodyMsg">Введите свой адрес электронной почты, и мы отправим Вам электронное письмо с инструкциями по сбросу пароля.</p>
          <form :class="[$style.bodyForm]" @submit.prevent="forget">
            <input type="text" name="email" placeholder="Введите свой email" v-model="email" onfocus="this.placeholder = ''"
              :class="['single-input', error.email ? $style.error : '']" onblur="this.placeholder = 'Введите свой email'">
            <p :class="error.email ? $style.error : ''">{{error.email}}</p>
            <input type="submit" name="send" value="Отправить" :class="['genric-btn primary radius']" style="margin: 5px 0 20px">
          </form>
        </div>
      </div>
      <div class="row">
        <div :class="['col-md-5', $style.footer]">
          <p>Уже есть аккаунт? <router-link to="login">Войти</router-link></p>
        </div>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import Logo from 'Components/logo'

export default {
  name: 'ForgetPassword',
  components: {
    Logo
  },
  data () {
    return {
      email: '',
      error: {},
      showLoader: false
    }
  },
  methods: {
    forget () {
      this.error = {}
      this.showLoader = true
      this.$auth.forget(this.email)
        .then((res) => {
          this.showLoader = false
          this.showNotification('Инструкция по восстановлению пароля отправлен вам на почту', 'notification-success')
        })
        .catch((err) => {
          this.showLoader = false
          if (!err.response) {
            this.error = err
          } else if (err.response.data.message) {
            this.showNotification(err.response.data.message, 'notification-error')
          } else {
            this.error = err.response.data
          }
        })
    },
    showNotification (msg, type) {
      this.$notify({
        group: 'nextstep',
        type: type,
        text: msg,
        speed: 300
      })
    }
  }
}
</script>

<style src="../login/style.css" module></style>
