<template>
  <div :class="[$style.header, 'flex fl-aic fl-sb']">
    <div :class="$style.headerText">{{currentPage}}</div>
    <!-- <div :class="[$style.headerSearch, 'flex fl-aic']">
      <i class="icon-notifications_none"></i>
      <div :class="[$style.headerSearchBar, 'flex fl-sb fl-aic']">
        <input type="text" name="search" placeholder="Поиск...">
        <i class="icon-search pointer"></i>
      </div>
    </div> -->
  </div>
</template>

<script type="text/javascript">

export default {
  name: 'Header',
  computed: {
    currentPage () {
      return this.$store.getters.getCurrentPage
    }
  }
}
</script>

<style src="./style.css" module></style>
