.header {
  position: fixed;
  left: 235px;
  top: 5px;
  padding: 20px;
  width: calc(100% - 235px);

  &--text {
    font-size: 20px;
    color: #fff;
  }

  &--search {
    /*height: 30px;*/

    & i:first-child {
      margin-right: 20px;
      color: #526167;
      font-size: 22px;
    }

    &--bar {
      width: 180px;
      background-color: #E4E6EC;
      border: 1px solid #DDDFE5;
      padding: 10px 15px;
      border-radius: 30px;
      font-size: 12px;
      color: #9BA4AA;

      & input {
        width: 130px;
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }
}