<style src="./style.css" module></style>

<template>
  <div :class="$style.select" v-on-clickaway="() => { myActive = false }">
    <div @click="options.length > 0 ? myActive = !myActive : ''" :class="['flex fl-sb pointer', $style.selectHeader, myActive ? $style.selectHeaderActive : '']">
      <span>{{value}}</span>
      <span :class="[$style.selectArrow, myArrow === 'up' ? 'icon-keyboard_arrow_up' : 'icon-keyboard_arrow_down']"></span>
    </div>
    <transition name="slideDown">
      <ul v-if="myActive" :class="[$style.selectList]">
        <li :class="[$style.selectListElem, 'pointer']"
          v-for="(project, index) in options"
          :key="index"
          @click="handleChange(project)">
        <span>{{project.name}}</span></li>
      </ul>
    </transition>
  </div>
</template>


<script type="text/javascript">
import eventBus from 'EventBus'
import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'Select',
  data () {
    return {
      myActive: false,
      myArrow: 'down'
    }
  },
  props: {
    options: Array,
    value: String,
    name: String
  },
  methods: {
    handleChange (project) {
      this.myActive = !this.myActive
      eventBus.$emit('selectChange', { project, name: this.name })
    }
  },
  watch: {
    myActive: function () {
      this.myArrow = this.myActive ? 'up' : 'down'
    }
  },
  directives: {
    onClickaway
  }
}
</script>
