.select {
  font-size: inherit;
  position: relative;

  &--header {
    padding: 5px 10px;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 2px;

    &--active {
      border-bottom: 1px solid #fff;
      /*border-width: 1px 1px 0 1px;*/
      border-radius: 2px 2px 0 0;
    }
  }

  &--arrow {
    font-size: 1.2em;
  }

  & ul {
    list-style: none;
    margin: 0;
  }

  &--list {
    padding: 0;
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px 1px;
    background-color: #fff;
    width: 100%;
    max-height: 100px;
    overflow-y: scroll;

    &--elem {
      padding: 5px 10px;

      &:hover {
        background-color: #78B7EC;
        color: #fff;
      }
    }
  }
}