<template>
  <div :class="['container', $style.table]">
    <div class="progress-table-wrap">
      <div class="progress-table">
        <div class="table-head">
          <div class="serial">#</div>
          <div class="country">Название</div>
          <div class="country">Автор</div>
          <div class="visit">{{ type === 'video' ? 'Продолжительность' : 'Кол. стр.' }}</div>
          <div class="visit" v-if="type === 'book'">Год</div>
          <div class="visit" v-if="currentUser.role === 'admin'">Действия</div>
        </div>
        <div class="table-row" v-for="(obj, index) in array" :key="index">
          <div class="serial">{{index + 1}}</div>
          <div class="country pointer" @click="goToOne(obj._id)">{{obj.name}}</div>
          <div class="country">{{obj.author}}</div>
          <div class="visit">{{ type === 'video' ? obj.duration : obj.pages }}</div>
          <div class="visit" v-if="type === 'book'">{{obj.year}}</div>
          <div class="visit" v-if="currentUser.role === 'admin'">
            <i class="icon-pencil pointer" title="Редактировать" @click="goToEdit(obj._id)"></i>
            <i class="icon-bin pointer" title="Удалить" style="margin-left: 10px;" @click="goToDelete(obj._id)"></i>
          </div>
        </div>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'TableVideo',
  props: ['type'],
  data () {
    return {
      showLoader: false,
      array: []
    }
  },
  computed: {
    currentUser () {
      return this.$auth.currentUser()
    }
  },
  beforeMount () {
    if (this.type === 'video') this.getVideos()
    else this.getBooks()
  },
  mounted () {
    eventBus.$on('video-deleted', data => {
      this.array.forEach((item, index) => {
        if (item._id.toString() === data) {
          this.array.splice(index, 1)
        }
      })
    })
  },
  methods: {
    getVideos () {
      this.showLoader = true
      this.$apiVideo.getVideos(this.$route.params.id)
        .then(res => {
          this.array = res.data
          this.showLoader = false
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getBooks () {
      this.showLoader = true
      this.$apiBook.getBooks(this.$route.params.id)
        .then(res => {
          this.array = res.data
          this.showLoader = false
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    goToOne (id) {
      if (this.type === 'video') this.$router.push('/video/' + id)
      else this.$router.push('/book/' + id)
    },
    goToEdit (id) {
      if (this.type === 'video') this.$router.push('/edit-video/' + id)
      else this.$router.push('/edit-book/' + id)
    },
    goToDelete (id) {
      eventBus.$emit('delete-video', id)
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  watch: {
    type () {
      if (this.type === 'video') this.getVideos()
      else this.getBooks()
    }
  }
}
</script>

<style src="./style.css" module></style>