<template>
  <div :class="[$style.table]">
    <div class="container" style="height: 100%;">
      <div :class="['row flex fl-aic', $style.tableHeader, $style.tableRow]">
        <div class="col-md-1">
          №
        </div>
        <div class="col-md-3">
          Имя
        </div>
        <div class="col-md-3">
          Email
        </div>
        <div class="col-md-2">
          Телефон
        </div>
        <div class="col-md-2">
          Город
        </div>
        <!-- <div class="col-md-1">
          Дата рождения
        </div> -->
        <div class="col-md-1" style="text-align:center">
          Курсы
        </div>
      </div> 
      <div :class="[$style.tableBody, 'row']">
        <div class="col-md-12">
          <div :class="['row flex fl-aic', $style.tableRow, index%2 === 1 ? $style.tableRowBlue : '']"
          v-for="(obj, index) in users" :key="index">
          <div class="col-md-1 flex fl-aic fl-sb">
            {{index + 1}}
            <img :src="obj.avatar" :class="$style.tableRowAvatar">
          </div>
          <div class="col-md-3">
            {{obj.name}}
          </div>
          <div class="col-md-3">
            {{obj.email}}
          </div> 
          <div class="col-md-2">
            {{obj.phone || 'Неизвестно'}}
          </div>
          <div class="col-md-2">
            {{obj.city || 'Неизвестно'}}
          </div>
          <!-- <div class="col-md-1 flex fl-aic">
            <a-date :date="obj.birthdate"></a-date>
          </div> -->
          <div class="col-md-1" style="text-align:center">
            {{obj.courses.length}}
          </div>
          <!-- <div :class="[$style.tableRowBlock]" v-show="showDetails[index]">
            <div v-for="c in obj.courses" :key="c._id" class="flex fl-aic" style="margin-bottom: 10px;">
              <img :src="c.logo">
              <div>{{c.name}} ({{c.category.name}})</div>
            </div>
          </div> -->
        </div> 
        </div> 
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import aDate from 'Components/date'

export default {
  name: 'Users',
  data () {
    return {
      users: [],
      showLoader: false
    }
  },
  beforeMount () {
    this.$store.commit('changeCurrentNav', this.$route.name)
    this.$store.commit('changeCurrentPage', 'Все пользователи')
    this.getUsers()
  },
  methods: {
    getUsers () {
      this.showLoader = true
      this.$apiUser.getUsers()
        .then(res => {
          this.showLoader = false
          this.users = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    // show (i) {
    //   this.showDetails[i] = !this.showDetails[i]
    //   console.log(this.showDetails)
    // },
    // hide (i) {
    //   this.showDetails[i] = 'display: none;'
    // },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  components: {
    aDate
  }
}
</script>

<style src="./style.css" module></style>
