.table {
  height: calc(100vh - 102px);
  font-size: 14px;
  background-color: #fff;
  padding: 20px;

  &--row {
    padding: 15px 0;
    /*border: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
    position: relative;

    &--block {
      position: absolute;
      top: 50px;
      right: 0;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 10px;
      z-index: 1;
      width: 250px;
      /*display: none;*/

      & img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    &--blue {
      background-color: #F3F8FB;
    }

    &--avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &--header {
    background-color: #1389E5;
    color: #fff;
  }

  &--body {
    
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 48px);
    /*width: 100%;*/


    & i {
      font-size: inherit;
      color: inherit;
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}