<template>
  <div :class="$style.course">
    <div :class="[$style.courseGrid]">
      <div :class="[$style.courseGridItem]"
        v-for="course in courses" :key="course._id">
        <div :class="[$style.courseGridItemImg, 'flex fl-aic fl-c pointer']" @click="goToOneCourse(course)"
          :style="'background: url('+course.logo+') no-repeat center center/cover'">
          <!-- <img :src="course.logo"> -->
          <div :class="[$style.courseGridItemName]">{{ course.name }}</div>
          <div :class="$style.courseGridItemLock" v-if="currentUser.role === 'user' && access.findIndex(x => x.course === course._id) === -1">
            <i class="icon-lock"></i>
          </div>
        </div>
        <div :class="['flex fl-sb', $style.courseGridItemText]">
          <div style="line-height: 1em;">
            {{ course.book || 0 }} книг <br>
            {{ course.video || 0 }} видео
          </div>
          <div>Цена: {{ course.currency.symbol }}{{ course.price }}</div>
        </div>
        <div :class="$style.courseGridItemEdit"><span :class="['pointer']" @click="goToEdit(course._id)"
            v-if="currentUser.role === 'admin'"><i class="icon-pencil"></i></span>
            <span :class="['pointer']" @click="goToRemove(course._id)" style="margin-left: 5px" 
            v-if="currentUser.role === 'admin'"><i class="icon-bin"></i></span></div>
      </div>
    </div>
    <div :class="$style.courseNomsg" v-if="courses.length === 0">Нет курсов</div>
    <modal name="delete-course" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удаление курса</p>
          <button name="cancel" title="Закрыть окно" @click="closeModal" class="pointer"><i class="icon-cross"></i></button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]">
            <p>Вы уверены, что хотите удалить этот курс?</p>
            <p>Вместе с курсом будут удалены все видеоуроки и книги этого курса!</p>
            <div class="flex fl-se"><button class="genric-btn primary radius" @click="remove">Да</button>
              <button class="genric-btn primary-border radius" @click="closeModal">Нет</button></div>
          <v-loader :show="showLoader"></v-loader>
        </form>
      </div>
    </modal>
    <modal name="payment" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Подписка на курс</p>
          <button name="cancel" title="Закрыть окно" @click="closeModalPayment" class="pointer"><i class="icon-cross"></i></button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalPayment]" id="paymentForm" @submit.prevent="payment">
          <p>Все данные защищены. Оплата производится через систему <b>CloudPayments</b>.
            <a href="https://cloudpayments.kz/" style="color: #73d61c">Подробнее</a></p>
          <p :class="error.cardNumber ? $style.error : ''">{{error.cardNumber}}</p>
          <input type="text" data-cp="cardNumber" v-model="card.number" v-mask="'9999 9999 9999 9999'"
            placeholder="Номер карты" :class="[error.cardNumber ? $style.error : '', 'single-input-primary']">
          <p :class="error.expDateMonthYear || error.cvv ? $style.error : ''">{{error.expDateMonthYear || error.cvv}}</p>
          <div class="flex fl-sb">
            <input type="text" data-cp="expDateMonthYear" v-model="card.expDate" v-mask="'99/99'" placeholder="ММ/ГГ"
              :class="[error.expDateMonthYear ? $style.error : '', 'single-input-primary']" style="width: 49%">
            <input type="text" data-cp="cvv" v-model="card.cvv" v-mask="'999'" placeholder="CVV"
              :class="[error.cvv ? $style.error : '', 'single-input-primary']" style="width: 49%">
          </div>
          <p :class="error.name ? $style.error : ''">{{error.name}}</p>
          <input type="text" data-cp="name" v-model="card.name" placeholder="Имя на карте (только латинские буквы)"
            :class="[error.name ? $style.error : '', 'single-input-primary']">
          <div class="flex fl-se" style="margin-top: 10px">
            <button type="submit" :class="['genric-btn radius', disabled ? 'primary' : 'disable']" :disabled="!disabled">Оплатить</button>
            <button type="button" class="genric-btn primary-border radius" @click="closeModalPayment">Отмена</button>
          </div>
          <v-loader :show="showLoader"></v-loader>
        </form>
      </div>
    </modal>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">

export default {
  name: 'Courses',
  data () {
    return {
      courses: [],
      access: [],
      showLoader: false,
      courseToDelete: '',
      card: {},
      error: {},
      courseToPay: {}
    }
  },
  computed: {
    currentUser () {
      return this.$auth.currentUser()
    },
    disabled () {
      return this.card.number && this.card.expDate && this.card.cvv && this.card.name
    }
  },
  beforeMount () {
    if (this.$route.name === 'MyCourses') {
      this.$store.commit('changeCurrentPage', 'Мои курсы')
      this.$store.commit('changeCurrentNav', this.$route.name)
      this.getMyCourses()
    } else {
      this.$store.commit('changeCurrentNav', 'Category')
      if (this.$route.params.id) {
        this.getCourses(this.$route.params.id)
        this.getCurrentCategory(this.$route.params.id)
      }
      if (this.$route.params.error === 'error') {
        setTimeout(() => {
          if (this.$route.query.message) this.handleErr(this.$route.query.message, 'notification-error')
          else this.handleErr('Не удалось произвести оплату, повторите попытку позже', 'notification-error')
        }, 100)
      } else if (this.$route.params.error === 'success') {
        setTimeout(() => {
          this.handleErr('Оплата успешно проведена', 'notification-success')
        }, 100)
      }
    }
  },
  methods: {
    closeModalPayment () {
      this.card = {}
      this.error = {}
      this.$modal.hide('payment')
    },
    closeModal () {
      this.$modal.hide('delete-course')
    },
    goToEdit (id) {
      this.$router.push('/edit-course/' + id)
    },
    goToRemove (id) {
      this.courseToDelete = id
      this.$modal.show('delete-course')
    },
    goToOneCourse (course) {
      if (this.currentUser.role === 'admin' || this.access.findIndex(x => x.course === course._id) > -1) {
        this.$router.push('/one-course/' + course._id)
      } else {
        this.courseToPay = course
        this.$modal.show('payment')
      }
    },
    getCourses (id) {
      this.showLoader = true
      this.$apiCourse.getCourses(id)
        .then(res => {
          this.showLoader = false
          this.courses = res.data.list
          this.access = res.data.access
        }).catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    getMyCourses () {
      this.showLoader = true
      this.$apiCourse.getMyCourses()
        .then(res => {
          this.showLoader = false
          this.courses = res.data.list
          this.access = res.data.result
        }).catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    remove () {
      this.showLoader = true
      this.$apiCourse.remove(this.courseToDelete)
        .then(res => {
          this.courses.forEach((item, index) => {
            if (item._id.toString() === this.courseToDelete) {
              this.courses.splice(index, 1)
            }
          })
          this.closeModal()
          this.showLoader = false
          this.courseToDelete = ''
          this.handleErr('Курс успешно удален', 'notification-success')
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    payment () {
      const letters = /^[A-Za-z ]+$/
      if (this.card.name.match(letters)) {
        const checkout = new cp.Checkout('pk_ab626d3efa22960cd932fce24efa1', document.getElementById('paymentForm'))
        const result = checkout.createCryptogramPacket()
        if (result.success) {
          this.showLoader = true
          this.$apiCourse.payment(result.packet, this.courseToPay, this.card)
            .then(res => {
              if (res.data.done) {
                this.showLoader = false
                this.access.push(res.data.user)
                this.courseToPay = {}
                this.closeModalPayment()
                this.handleErr('Оплата успешно проведена', 'notification-success')
              } else {
                this.acsUrl(res.data).then(data => { data.submit() })
              }
            })
            .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
        } else {
          this.error = result.messages
        }
      } else {
        this.error = {
          name: 'Введите только латинские буквы'
        }
      }
    },
    acsUrl (data) {
      return new Promise((resolve, reject) => {
        var g = document.createElement('form')
        g.setAttribute('action', data.AcsUrl)
        g.setAttribute('method', 'POST')
        g.innerHTML = ` <input type="hidden" name="PaReq" value="${data.PaReq}">
                        <input type="hidden" name="MD" value="${data.TransactionId}">
                        <input type="hidden" name="TermUrl" value="https://nextstep.ml/api/payment/finish/${this.$route.params.id}">`
        resolve(document.body.appendChild(g))
      })
    },
    getCurrentCategory (id) {
      this.$api.getCurrentCategory(id)
        .then(res => {
          this.$store.commit('changeCurrentPage', res.data.name)
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  watch: {
    '$route' () {
      if (this.$route.name === 'MyCourses') {
        this.$store.commit('changeCurrentPage', 'Мои курсы')
        this.$store.commit('changeCurrentNav', this.$route.name)
        this.getMyCourses()
      } else {
        if (this.$route.params.id) {
          this.getCourses(this.$route.params.id)
          this.getCurrentCategory(this.$route.params.id)
          this.$store.commit('changeCurrentNav', 'Category')
        }
      }
    }
  }
}
</script>

<style src="./style.css" module></style>
