.course {
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  height: calc(100vh - 102px);
  overflow: auto;
  color: #848484;
  position: relative;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

  & i {
    color: #fff;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 60px)/4));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;

    &--item {
      justify-self: center;
      width: 100%;
      height: 200px;
      border-radius: 3px;
      background-repeat: no-repeat;
      position: relative;
      background-color: #fff;
      font-size: 14px;

      &--disabled {
        opacity: 0.5;
      }

      &--edit {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        z-index: 99;
      }

      &--lock {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index:1;
        color:#fff;
      }

      &--name {
        z-index:2;
        color: #fff;
        font-size: 18px;
        text-align: center;
      }

      &--img {
        width: 100%;
        height: 150px;
        position:relative;
        border-radius: 3px;
        border-radius: 3px 3px 0 0;

        &:after {
          content:'\A';
          position:absolute;
          width:100%; height:100%;
          top:0; left:0;
          background:rgba(0,0,0,0.6);
          opacity:1;
          border-radius: 3px 3px 0 0;
        }

        /*& img {
          width: 100%;
          height: 100%;
          border-radius: 3px 3px 0 0;
          position: absolute;
          top: 0;
          left: 0;
        }
*/      }

      &--text {
        padding: 10px;
        border: 1px solid #848484;
        border-width: 0 1px 1px 1px;
        height: 50px;
        border-radius: 0 0 3px 3px;
      }
    }
  }

  &--nomsg {
    color: #000;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
  }
}

.modal {
  height: 100%;
  font-size: 14px;

  &--header {
    color: #fff;
    /*padding: 0 20px;*/
    /*line-height: 3;*/
    background: #e0003b;

    & p {
      padding: 0 10px;
    }

    & button {
      background-color: #e0003b;
      border: none;
      padding: 0 10px;
      color: #fff;
      font-size: 12px;
    }
  }

  &--body {
   padding: 10px 20px 20px; 

   & p {
    text-align: center;
   }

   & div {
    text-align: center;

    & button {
      line-height: 2em;
    }
   }
  }

  &--payment {
    padding: 10px 20px 20px;

    & button {
      line-height: 2em;
    }

    & p {
      margin: 5px 0;
    }
  }
}

p.error {
  margin: 5px 0;
  color: #dc3545;
}

input.error {
  border:1px solid #dc3545;
}