<template>
  <div :class="[$style.course]">
    <div class="row">
      <div class="col-md-6">
        <p>Название:</p>
        <input type="text" name="name" :class="$style.courseName" placeholder="Введите название" v-model="course.name">
        <p style="margin-top: 20px;">Категория:</p>
        <v-select name="category" :options="categories" :value="course.category.name" :class="$style.courseCategory"></v-select>
        <p style="margin-top: 20px;">Цена:</p>
        <div :class="[$style.coursePrice, 'flex fl-sb']">
          <input type="number" name="price" :class="$style.coursePriceInput" v-model="course.price">
          <v-select name="currency" :options="currencies" :value="course.currency.name" :class="$style.coursePriceCurrency"></v-select>
        </div>
        <p style="margin-top: 20px;">Описание</p>
        <textarea v-model="course.description" :class="$style.courseDescription" rows="6" placeholder="Введите описание"></textarea>
      </div>
      <div class="col-md-6">
        <div :class="[$style.fileUpload]" title="Загрузить файл"> Загрузите лого
          <input :class="[$style.fileUploadFile]" type="file" name="filename" @change="uploadFile">
        </div>
        <div :class="[$style.coursePreview, 'flex fl-aic fl-c']" v-if="!imageSrc">Превью лого</div>
        <img :src="imageSrc" :class="$style.coursePreviewImg" v-else>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6" style="text-align: right;">
        <button :class="[$style.courseSend, 'pointer', disabled ? '' : 'disabled']" @click="send" :disabled="!disabled">Отправить</button>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'AddCourse',
  data () {
    return {
      categories: [],
      currencies: [{
        name: 'Тенге',
        symbol: '₸',
        code: 'KZT'
      },
      {
        name: 'Рубль',
        symbol: '₽',
        code: 'RUB'
      },
      {
        name: 'Евро',
        symbol: '€',
        code: 'EUR'
      },
      {
        name: 'Доллар',
        symbol: '$',
        code: 'USD'
      }],
      course: {
        category: {
          name: 'Выберите категорию'
        },
        currency: {
          name: 'Выберите'
        }
      },
      imageSrc: '',
      showLoader: false
    }
  },
  computed: {
    disabled () {
      return this.course.category && this.course.currency && this.course.name && this.course.price && this.course.description && (this.course.file || this.course.logo)
    }
  },
  beforeMount () {
    this.getCategories()
    this.$store.commit('changeCurrentPage', 'Добавить курс')
    this.$store.commit('changeCurrentNav', this.$route.name)
    if (this.$route.params.id) {
      this.checkCourse(this.$route.params.id)
    }
  },
  mounted () {
    eventBus.$on('selectChange', (data) => {
      this.course[data.name] = data.project
    })
  },
  methods: {
    uploadFile (ev) {
      if (ev.target.files && ev.target.files[0]) {
        const reader = new FileReader()

        reader.onload = e => { this.imageSrc = e.target.result }

        reader.readAsDataURL(ev.target.files[0])
      }
      this.course.file = ev.target.files[0]
    },
    send () {
      if (this.$route.name === 'EditCourse') this.edit()
      else this.add()
    },
    add () {
      this.showLoader = true
      var data = new FormData()
      data.append('name', this.course.name)
      data.append('logo', this.course.file)
      data.append('category', this.course.category._id)
      data.append('currency', JSON.stringify(this.course.currency))
      data.append('price', this.course.price)
      data.append('description', this.course.description)
      this.$apiCourse.addCourse(data)
        .then(res => {
          this.showLoader = false
          this.imageSrc = ''
          this.course = {
            category: {
              name: 'Выберите категорию'
            },
            currency: {
              name: 'Выберите'
            }
          }
          this.handleErr('Новый курс успешно добавлен', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    edit () {
      this.showLoader = true
      var data = new FormData()
      data.append('name', this.course.name)
      data.append('logo', this.course.file)
      data.append('category', this.course.category._id)
      data.append('currency', JSON.stringify(this.course.currency))
      data.append('price', this.course.price)
      data.append('description', this.course.description)
      this.$apiCourse.editCourse(data, this.course._id)
        .then(res => {
          this.showLoader = false
          this.imageSrc = res.data.logo
          this.course = res.data
          this.handleErr('Курс успешно отредактирован', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    getCategories () {
      this.showLoader = true
      this.$api.getCategories()
        .then(res => {
          this.showLoader = false
          this.categories = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    checkCourse (id) {
      this.showLoader = true
      this.$apiCourse.checkCourse(id)
        .then(res => {
          this.showLoader = false
          this.course = res.data
          this.imageSrc = res.data.logo
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  }
}
</script>

<style src="./style.css" module></style>
