@import url('https://fonts.googleapis.com/css?family=PT+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,500');
@import "./normalize.css";
/*@import "./grid.css";*/
@import "./flex.css";
@import "./icons.css";
@import "./video.css";

@import "./bootstrap.css";
@import "./font-awesome.min.css";
@import "./linearicons.css";
@import "./main.css";
@import "./nice-select.css";

* {
  font-family: 'PT Sans', sans-serif;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.wrapper {
  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  min-width: 100vw;
  overflow-y: auto;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.vjs_video_3-dimensions {
  width: 100%;
  height: 428px;
}

.mx-input {
  height: auto!important;
  /*color: inherit!important;*/
  box-shadow: none!important;
  border-radius: 0!important;
  display: block!important;
  width: 100%!important;
  line-height: 40px!important;
  border: none!important;
  outline: none!important;
  background: #f9f9ff!important;
  padding: 0 20px!important;
}