<template>
  <div :class="[$style.book]">
    <div class="row">
      <div class="col-md-6">
        <p>Название:</p>
        <input type="text" name="name" :class="$style.bookName" placeholder="Введите название" v-model="book.name">
        <p style="margin-top: 10px;">Автор:</p>
        <input type="text" name="author" :class="$style.bookName" placeholder="Введите автора" v-model="book.author">
        <p style="margin-top: 10px;">Категория:</p>
        <v-select name="category" :options="categories" :value="book.category.name" :class="$style.bookCategory"></v-select>
        <p style="margin-top: 20px;">Курс:</p>
        <v-select name="course" :options="courses" :value="book.course.name"
          :class="[$style.bookCategory, book.category._id ? '' : 'disabled']"></v-select>
        <div :class="[$style.bookColumn, 'flex fl-sb']">
          <div :class="$style.bookColumnPage">
            <p>Количество страниц:</p>
            <input type="number" name="pages" v-model="book.pages" :class="$style.bookName">
          </div>
          <div :class="$style.bookColumnYear">
            <p>Год выпуска:</p>
            <input type="text" name="year" v-model="book.year" :class="$style.bookName">
          </div>
        </div>
        <p style="margin-top: 10px;">Ссылка на скачивание:</p>
        <input type="text" name="link" :class="$style.bookName" style="width: 100%" placeholder="Введите ссылку" v-model="book.link">
        <p style="margin-top: 10px;">Описание</p>
        <textarea v-model="book.description" :class="$style.bookDescription" rows="6" placeholder="Введите описание"></textarea>
      </div>
      <div class="col-md-6">
        <div :class="[$style.fileUpload]" title="Загрузить файл"> Загрузите обложку книги
          <input :class="[$style.fileUploadFile]" type="file" name="filename"  @change="uploadFile">
        </div>
        <div :class="[$style.bookPreview, 'flex fl-aic fl-c']" v-if="!imageSrc">Превью обложки</div>
        <img :src="imageSrc" :class="$style.bookPreviewImg" v-else>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6" style="text-align: right;">
        <button :class="[$style.bookSend, 'pointer', disabled ? '' : 'disabled']" @click="send">Отправить</button>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'AddBook',
  data () {
    return {
      book: {
        category: {
          name: 'Выберите категорию'
        },
        course: {
          name: 'Выберите курс'
        }
      },
      categories: [],
      courses: [],
      imageSrc: '',
      showLoader: false
    }
  },
  computed: {
    disabled () {
      return this.book.course._id && this.book.name && this.book.author && this.book.description && this.book.pages && this.book.link && this.book.year && (this.book.file || this.book.photo)
    }
  },
  beforeMount () {
    this.getCategories()
    this.$store.commit('changeCurrentPage', 'Добавить книгу')
    this.$store.commit('changeCurrentNav', this.$route.name)
    if (this.$route.params.id) {
      this.checkBook(this.$route.params.id)
    }
  },
  methods: {
    uploadFile (ev) {
      if (ev.target.files && ev.target.files[0]) {
        const reader = new FileReader()

        reader.onload = e => { this.imageSrc = e.target.result }

        reader.readAsDataURL(ev.target.files[0])
      }
      this.book.file = ev.target.files[0]
    },
    getCategories () {
      this.showLoader = true
      this.$api.getCategories()
        .then(res => {
          this.showLoader = false
          this.categories = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getCourses (category) {
      this.showLoader = true
      this.$apiCourse.getCourses(category)
        .then(res => {
          this.showLoader = false
          this.courses = res.data.list
          if (this.courses.length === 0) this.book.course.name = 'В этой категории нет курсов'
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    send () {
      if (this.$route.name === 'EditBook') this.edit()
      else this.add()
    },
    add () {
      this.showLoader = true
      var data = new FormData()
      data.append('name', this.book.name)
      data.append('course', this.book.course._id)
      data.append('photo', this.book.file)
      data.append('pages', this.book.pages)
      data.append('description', this.book.description)
      data.append('year', this.book.year)
      data.append('author', this.book.author)
      data.append('link', this.book.link)
      this.$apiBook.addBook(data)
        .then(res => {
          this.showLoader = false
          this.imageSrc = ''
          this.book = {
            category: {
              name: 'Выберите категорию'
            },
            course: {
              name: 'Выберите курс'
            }
          }
          this.handleErr('Новая книга успешно добавлена', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    edit () {
      this.showLoader = true
      var data = new FormData()
      data.append('name', this.book.name)
      data.append('course', this.book.course._id)
      data.append('photo', this.book.file)
      data.append('pages', this.book.pages)
      data.append('description', this.book.description)
      data.append('year', this.book.year)
      data.append('author', this.book.author)
      data.append('link', this.book.link)
      this.$apiBook.editBook(data, this.book._id)
        .then(res => {
          this.showLoader = false
          this.checkBook(this.book._id)
          this.handleErr('Данные книги успешно отредактированы', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    checkBook (id) {
      this.showLoader = true
      this.$apiBook.checkBook(id)
        .then(res => {
          this.showLoader = false
          this.book = res.data
          this.imageSrc = res.data.photo
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  mounted () {
    eventBus.$on('selectChange', (data) => {
      this.book[data.name] = data.project
      if (data.name === 'category') this.getCourses(data.project._id)
    })
  }
}
</script>

<style src="./style.css" module></style>
