<template>
  <div class="wrapper">
    <!-- <div :class="$style.line"></div> -->
    <Menu v-if="online"/>
    <Header v-if="online"/>
    <router-view :class="online ? $style.page : ''"></router-view>
    <notifications group="nextstep" position="top center" :classes="$style.notification"/>
  </div>
</template>

<script type="text/javascript">
import Menu from 'Components/menu'
import Header from 'Components/header'
import '../../vendor/jquery.nice-select.min.js'
import '../../vendor/main.js'

export default {
  name: 'Main',
  components: {
    Menu,
    Header
  },
  computed: {
    online () {
      return this.$auth.isLoggedIn()
    }
  },
  beforeMount () {
    if (this.$auth.isLoggedIn()) {
      this.$apiUser.getCurrentUser()
        .then(res => { this.$store.commit('setCurrentUser', res.data) })
        .catch(err => {
          if (err.response.data.message === 'Invalid token') {
            this.$auth.logout().then(res => { this.$router.go('login') })
          }
        })
    }
  }
}
</script>

<style src="./style.css" module></style>
