.notification {
  padding: 15px;
  margin: 10px;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
  font-weight: 300;
}

:global .notification-success {
  color: #42A85F;
  border-left: 5px solid #68cd86;
}

:global .notification-error {
  color: #B82E24;
  border-left: 5px solid #E54D42;
}

:global .notification-warning {
  color: #f48a06;
  border-left: 5px solid #ffb648;
}

.line {
  height: 5px;
  width: 100%;
  background-color: #78B7EC;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.page {
  width: calc(100% - 275px);
  margin-left: 255px;
  margin-top: 82px;
}