<template>
  <div class="wrapper flex fl-aic">
    <div class="container">
      <div class="row" style="margin-bottom: 30px;">
        <Logo/>
      </div>
      <div class="row">
        <div :class="['col-md-5', $style.body]">
          <h2 >Изменение пароля</h2>
          <p :class="$style.notfound" v-if="notfound">Пользователь не найден</p>
          <form :class="[$style.bodyForm]" @submit.prevent="newpass">
            <input type="password" name="password" placeholder="Введите пароль" v-model="user.password" onfocus="this.placeholder = ''"
              :class="['single-input', error.password || error.checkpassword ? $style.error : '']" onblur="this.placeholder = 'Введите пароль'">
            <p :class="error.password ? $style.error : ''">{{error.password}}</p>
            <input type="password" name="password" placeholder="Подтвердите пароль" v-model="user.checkpassword" onfocus="this.placeholder = ''"
              :class="['single-input', error.checkpassword ? $style.error : '']" onblur="this.placeholder = 'Подтвердите пароль'">
            <p :class="error.checkpassword ? $style.error : ''">{{error.checkpassword}}</p>
            <input type="submit" name="send" value="Изменить пароль" :disabled="notfound"
              :class="['genric-btn radius', notfound ? 'disable' : 'primary']">
          </form>
          <div :class="[$style.bodyForget]">
            <router-link to="login">На страницу Авторизации</router-link>
          </div>
        </div>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import Logo from 'Components/logo'

export default {
  name: 'NewPassword',
  components: {
    Logo
  },
  data () {
    return {
      user: {},
      error: {},
      notfound: false,
      showLoader: false
    }
  },
  beforeMount () {
    if (!this.$route.query.user) {
      this.notfound = true
    } else {
      this.check()
    }
  },
  methods: {
    newpass () {
      this.error = {}
      if (this.user.password !== this.user.checkpassword) {
        this.error = {
          checkpassword: 'Пароли не совпадают'
        }
      } else {
        this.showLoader = true
        this.$auth.newpass(this.user.password, this.$route.query.user)
          .then((res) => {
            this.showLoader = false
            this.user = {}
            this.showNotification('Ваш пароль успешно изменен', 'notification-success')
          })
          .catch((err) => {
            this.showLoader = false
            if (!err.response) {
              this.error = err
            } else if (err.response.data.message) {
              this.showNotification(err.response.data.message, 'notification-error')
            } else {
              this.error = err.response.data
            }
          })
      }
    },
    check () {
      this.error = {}
      this.$auth.check(this.$route.query.user)
        .then(res => { this.notfound = false })
        .catch(err => {
          console.log(err)
          this.notfound = true
        })
    },
    showNotification (msg, type) {
      this.$notify({
        group: 'nextstep',
        type: type,
        text: msg,
        speed: 300
      })
    }
  }
}
</script>

<style src="../login/style.css" module></style>
