<template>
  <div :class="$style.profile">
    <div class="row" style="height: 100%;">
      <div class="col-md-8" style="height: 100%;">
        <div :class="[$style.profileFirst, 'flex']">
          <div :class="$style.profileFirstAvatar">
            <img :src="currentUser.avatar">
            <div :class="['flex', 'fl-sa', 'fl-aic']">
              <input type="file" style="display: none" id="avatar" @change="loadFile" accept="image/*">
              <i class="icon-cog" @click="openFile"></i>
              <i class="icon-bin" v-if="!isImagePresent" @click="deleteImage"></i>
            </div>
          </div>
          <div :class="$style.profileFirstData">
            <div class="flex fl-sb pointer">
              <div :class="$style.profileFirstDataName">
                <h3><span v-if="mode === 'profile'">{{currentUser.name}}</span>
                  <input type="text" name="name" class="single-input" v-if="mode === 'edit'" placeholder="Введите имя" v-model="currentUser.name"></h3>
                <p style="margin: 0;">{{currentUser.email}}</p>
              </div>
              <i class="icon-pencil" @click="changeMode"></i>
            </div>
            <div style="margin-top: 20px;">
              <div class="row flex fl-aic" style="margin: 10px 0;">
                <div class="col-md-4" style="padding: 0">
                  <span :class="$style.profileFirstDataTitle">Имя пользователя:</span>
                </div>
                <div class="col-md-8" style="padding: 0">
                  <span>{{currentUser.username}}</span>
                </div>
              </div>
              <div class="row flex fl-aic" style="margin: 10px 0;">
                <div class="col-md-4" style="padding: 0">
                  <span :class="$style.profileFirstDataTitle">Дата рождения:</span>
                </div>
                <div class="col-md-8" style="padding: 0">
                  <a-date :date="currentUser.birthdate" v-if="mode === 'profile' && currentUser.birthdate" width="100%"></a-date>
                  <span v-if="mode === 'profile' && !currentUser.birthdate">Неизвестно</span>
                  <date-picker v-model="currentUser.birthdate" lang="ru" v-if="mode === 'edit'" format="dd-MM-yyyy"></date-picker>
                </div>
              </div>
              <div class="row flex fl-aic" style="margin: 10px 0;">
                <div class="col-md-4" style="padding: 0">
                  <span :class="$style.profileFirstDataTitle">Номер телефона:</span>
                </div>
                <div class="col-md-8" style="padding: 0">
                  <span v-if="mode === 'profile'">{{currentUser.phone || 'Неизвестно'}}</span>
                  <input type="text" name="phone" class="single-input" v-if="mode === 'edit'" placeholder="Введите номер телефона"
                    v-model="currentUser.phone" v-mask="'+7 (999) 999-99-99'">
                </div>
              </div>
              <div class="row flex fl-aic" style="margin: 10px 0;">
                <div class="col-md-4" style="padding: 0">
                  <span :class="$style.profileFirstDataTitle">Город:</span>
                </div>
                <div class="col-md-8" style="padding: 0">
                  <span v-if="mode === 'profile'">{{currentUser.city || 'Неизвестно'}}</span>
                  <input type="text" name="city" class="single-input" v-if="mode === 'edit'" placeholder="Введите город" v-model="currentUser.city">
                </div>
              </div>
              <div class="row flex fl-aic" style="margin: 10px 0;" v-if="mode === 'edit'">
                <div class="col-md-4" style="padding: 0">
                  <span :class="$style.profileFirstDataTitle">Пароль:</span>
                </div>
                <div class="col-md-8" style="padding: 0">
                  <input type="password" name="password" placeholder="Новый пароль" :class="[error ? $style.error : '', 'single-input']"
                    v-model="currentUser.password">
                </div>
              </div>
              <div class="row flex fl-aic" style="margin: 10px 0;" v-if="mode === 'edit'">
                <div class="col-md-4" style="padding: 0">
                  <span :class="$style.profileFirstDataTitle">Подтвердить пароль:</span>
                </div>
                <div class="col-md-8" style="padding: 0">
                  <input type="password" name="rePassword" :class="[error ? $style.error : '', 'single-input']" placeholder="Повторите пароль"
                    v-model="currentUser.rePassword">
                </div>
              </div>
              <div :class="[$style.profileFirstDataBtn]" v-if="mode === 'edit'">
                <button type="button" class="genric-btn primary radius" @click="save">Сохранить</button>
              </div>
            </div>
          </div>
        </div>
        <div :class="$style.profileSecond">
          <h3>Заметки к книгам</h3>
          <div :class="$style.profileSecondList">
            <p v-if="notes.length === 0">У вас еще нет заметок к книгам</p>
            <div v-for="(note, index) in notes" :key="index" :class="$style.profileSecondListEach" v-if="notes.length > 0">
              <div :class="[$style.profileSecondListEachContent, 'flex',
                index % 2 === 0 ? $style.profileSecondListEachRight : $style.profileSecondListEachLeft]">
                <div :class="$style.profileSecondListEachCircle"></div>
                <div :class="[$style.profileSecondListEachText,
                  index % 2 === 0 ? $style.profileSecondListEachRightPadding : $style.profileSecondListEachLeftPadding]">
                  <a-date :date="note.createdAt" :class="$style.profileSecondListEachTextDate"></a-date>
                  <p>{{note.text}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="height: 100%;overflow:auto;">
        <div :class="$style.profileThird">
          <h3>Мои курсы</h3>
          <div :class="$style.profileThirdBody">
            <p style="text-align: center" v-if="courses.length === 0">Вы пока не подписаны на курсы</p>
            <div :class="['container', $style.profileThirdList]" v-for="course in courses" :key="course._id" v-if="courses.length > 0">
              <div class="row" style="min-height: 40px;">
                <div class="col-md-2 flex fl-c fl-aic fl-dc" :class="$style.profileThirdListLeft">
                  <img :src="course.logo" class="pointer">
                  <i class="icon-play2 pointer" @click="goToCourse(course._id)"></i>
                </div>
                <div class="col-md-8 flex fl-aic" :class="$style.profileThirdListLeft">{{course.name}}</div>
                <div class="col-md-2 flex fl-c fl-dc" :class="$style.profileThirdListLeft">
                  <p>{{course.book || 0 }} книг</p>
                  <p>{{course.video || 0 }} уроков</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal name="upload-photo" width="340" height="425">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Загрузка фото</p>
          <button name="cancel" title="Закрыть окно" @click="closeModal" class="pointer"><i class="icon-cross"></i></button>
        </div>
        <div :class="['flex', 'fl-dc', 'fl-sb', 'fl-aic', $style.modalBody]">
          <img :src="imageSrc" alt="Preview image" :class="$style.modalBodyImage">
          <div :class="['flex fl-se', $style.modalBodyBtn]"><button class="genric-btn primary radius" @click="uploadFile">Сохранить</button>
            <button class="genric-btn primary-border radius" @click="closeModal">Отмена</button></div>
        </div>
      </div>
    </modal>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import DatePicker from 'vue2-datepicker'
import aDate from 'Components/date'

export default {
  name: 'Profile',
  data () {
    return {
      mode: 'profile',
      error: false,
      courses: [],
      notes: [],
      showLoader: false,
      imageSrc: ''
    }
  },
  computed: {
    currentUser () {
      return this.$store.getters.getCurrentUser
    },
    isImagePresent () {
      return this.currentUser.avatar === '/images/photo-placeholder.png'
    }
  },
  beforeMount () {
    this.$store.commit('changeCurrentNav', this.$route.name)
    this.$store.commit('changeCurrentPage', 'Профиль')
    this.getMyCourses()
    this.getNotes()
  },
  methods: {
    changeMode () {
      this.mode = this.mode === 'profile' ? 'edit' : 'profile'
    },
    getMyCourses () {
      this.showLoader = true
      this.$apiCourse.getMyCourses()
        .then(res => {
          this.showLoader = false
          this.courses = res.data.list
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getNotes () {
      this.showLoader = true
      this.$apiBook.getAllGoals()
        .then(res => {
          this.showLoader = false
          this.notes = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    save () {
      if (this.currentUser.password && this.currentUser.password !== this.currentUser.rePassword) {
        this.error = true
        this.handleErr('Пароли не совпадают', 'notification-error')
      } else {
        this.showLoader = true
        this.$apiUser.editProfile(this.currentUser)
          .then(res => {
            this.$store.commit('setCurrentUser', res.data)
            this.mode = 'profile'
            this.showLoader = false
            this.handleErr('Данные успешно изменены', 'notification-success')
          })
          .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
      }
    },
    goToCourse (id) {
      this.$router.push('/one-course/' + id)
    },
    loadFile (ev) {
      if (ev.target.files && ev.target.files[0]) {
        const reader = new FileReader()

        reader.onload = e => { this.imageSrc = e.target.result }

        reader.readAsDataURL(ev.target.files[0])
        this.uploadedPhoto = ev.target.files[0]
        this.$modal.show('upload-photo')
      }
    },
    closeModal () {
      this.$modal.hide('upload-photo')
    },
    openFile () {
      document.querySelector('#avatar').click()
    },
    uploadFile () {
      this.showLoader = true
      const data = new FormData()
      data.append('avatar', this.uploadedPhoto)
      this.$apiUser.changeAvatar(this.currentUser._id, data)
        .then(res => {
          this.$store.commit('setCurrentUser', res.data)
          this.showLoader = false
          this.$modal.hide('upload-photo')
          this.handleErr('Фото профиля успешно изменен', 'notification-success')
        }).catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    deleteImage () {
      this.showLoader = true
      this.$apiUser.deleteImage(this.currentUser._id)
        .then(res => {
          this.$store.commit('setCurrentUser', res.data)
          this.showLoader = false
          this.$modal.hide('upload-photo')
          this.handleErr('Фото профиля успешно удален', 'notification-success')
        }).catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  components: {
    DatePicker,
    aDate
  }
}
</script>

<style src="./style.css" module></style>
