.profile {
  height: calc(100vh - 102px);
  font-size: 14px;
  color: #848484;

  & p {
    margin: 10px 0;
  }

  & h3 {
    margin: 0;
  }

  /*& input {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14px;
  }*/
  /*& i:hover {
    color: #1389E5;
  }*/

 /* & input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    line-height: 20px;
    border-radius: 2px; 
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-size: 12px;

    &:focus {
      outline:none; 
      border:1px solid #7ab6ec;
      -webkit-box-shadow: 0px 0px 5px  #7ab6ec;
      box-shadow: 0px 0px 5px  #7ab6ec;
    }

    &::placeholder {
        color: #999;
        opacity: 1; */ /* Firefox */
    /*}

    &:-ms-input-placeholder { *//* Internet Explorer 10-11 */
       /*color: #999;
    }

    &::-ms-input-placeholder { *//* Microsoft Edge */
       /*color: #999;
    }
  }*/

  &--first {
    background-color: #fff;
    min-height: 224px;
    height: auto;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

    &--avatar {
      padding: 10px;
      width: 224px;
      position: relative;
      cursor: pointer;

      & img {
        /*margin: auto 0;*/
        width: 200px;
        height: 200px;
        border: 1px solid #F2F2F2;
        border-radius: 3px;
        padding: 5px;
      }

      &:hover div {
        visibility: visible;
      }

      & div {
        position: absolute;
        visibility: hidden;
        border-radius: 3px;
        top: 10px;
        width: 200px;
        height: 200px;
        background: rgba(0, 0, 0, 0.7);

        & i {
          color: #fff;
        }
      }
    }

    &--data {
      width: calc(100% - 224px);
      padding: 15px;

      &--btn {
        margin: 10px 0;
        text-align: right;
        width: 100%;

        /*& button {
          border: none;
          border-radius: 2px;
          color: #fff;
          font-size: inherit;
          padding: 10px 20px;
          background-color: #1389E5;
          outline: none;
        }*/
      }

      &--name {
        width: calc(100% - 50px);
      }

      &--title {
        color: #A9A9A9;
      }
    }
  }

  &--second {
    min-height: calc(100% - 419px);
    max-height: calc(100% - 252px);
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    overflow: auto;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

    & h3 {
      padding: 20px 0;
    }

    &--list {
      height: calc(100% - 58px);
      min-height: 40px;
      overflow-y: scroll;
      padding: 0 20px 20px;

      &--each {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        min-height: 40px;

        &--circle {
          position: absolute;
          display: block;
          left: 50%;
          top: 50%;
          overflow: hidden;
          width: 26px;
          height: 26px;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: #fff;
          border: 7px solid #FF5A59;
          z-index: 2;
        }

        &--content {
          width: 100%;
          flex-flow: row;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
        }

        &--text {
          width: 50%;

          &--date {
            color: #FF5A59;
            font-weight: 300;
          }
        }
        
        &--left {
          justify-content: flex-end;

          &--padding {
            padding-left: 51px;
            /*padding-right: 20px;*/
            text-align: left;
          }

          &:after {
            content: '';
            position: absolute;
            display: block;
            width: 45px;
            height: 1px;

            top: 50%;
            left: 50%;

            border-bottom: 1px dashed #d0d0d0;

            z-index: 1;
          }
        }

        &--right {
          justify-content: flex-start;

          &--padding {
            padding-right: 51px;
            /*padding-left: 20px;*/
            text-align: right;
          }

          &:after {
            content: '';
            position: absolute;
            display: block;
            width: 45px;
            height: 1px;

            top: 50%;
            right: 50%;

            border-bottom: 1px dashed #d0d0d0;

            z-index: 1;
          }
        }

        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 1px;
          height: 100%;

          left: 50%;
          top: 0;

          border-right: 1px dashed #d0d0d0;

          z-index: 1;
        }

      }
    }
  }

  &--third {
    background-color: #fff;
    height: 100%;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

    & h3 {
      padding: 20px;
    }

    &--body {
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100% - 58px);
    }

    &--list {
      padding: 10px 20px;
      border-top: 1px solid #ccc;

      &--left {
        /*text-align: center;*/
        padding: 0;

        & p {
          margin: 0;
          font-size: 12px;
        }

        & i {
          display: none;
          font-size: 24px;
          /*color: #1389E5;*/
        }

        & img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }

        &:hover {

          & i {
            display: block;
          }

          & img {
            display: none;
          }
        }
      }
    }
  }  
}

.modal {
  height: 100%;
  font-size: 14px;

  &--header {
    color: #fff;
    /*padding: 0 20px;*/
    /*line-height: 3;*/
    background: #e0003b;

    & p {
      padding: 0 10px;
    }

    & i {
      color: inherit;
    }

    & button {
      background-color: #e0003b;
      border: none;
      padding: 0 10px;
      color: #fff;
      font-size: 12px;
    }
  }

  &--body {
    padding: 20px;
    flex-grow: 1;

    &--image {
      width: 300px;
      height: 300px;
      object-fit: cover;
      object-position: center;
    }

    &--btn {
      width: 100%;

      & button {
        line-height: 2em;
      }
    }
  }
}

input.error {
  border:1px solid #dc3545;
}