<template>
  <div class="wrapper flex fl-aic">
    <div class="container">
      <div class="row" style="margin-bottom: 30px;">
        <Logo/>
      </div>
      <div class="row">
        <div :class="['col-md-5', $style.body]">
          <h2>Регистрация</h2>
          <form :class="[$style.bodyForm]" @submit.prevent="signup">
            <input type="text" name="email" placeholder="Email" v-model="user.email" onfocus="this.placeholder = ''"
              :class="['single-input', error.email ? $style.error : '']" onblur="this.placeholder = 'Email'">
            <p :class="error.email ? $style.error : ''">{{error.email}}</p>
            <input type="text" name="name" placeholder="Полное имя пользователя" v-model="user.name" onfocus="this.placeholder = ''"
              :class="['single-input', error.name ? $style.error : '']" onblur="this.placeholder = 'Полное имя пользователя'">
            <p :class="error.name ? $style.error : ''">{{error.name}}</p>
            <input type="text" name="username" placeholder="Логин" v-model="user.username" onfocus="this.placeholder = ''"
              :class="['single-input', error.username ? $style.error : '']" onblur="this.placeholder = 'Логин'">
            <p :class="error.username ? $style.error : ''">{{error.username}}</p>
            <input type="password" name="password" placeholder="Введите пароль" v-model="user.password" onfocus="this.placeholder = ''"
              :class="['single-input', error.password || error.checkpassword ? $style.error : '']" onblur="this.placeholder = 'Введите пароль'">
            <p :class="error.password ? $style.error : ''">{{error.password}}</p>
            <input type="password" name="password" placeholder="Подтвердите пароль" v-model="user.checkpassword" onfocus="this.placeholder = ''"
              :class="['single-input', error.checkpassword ? $style.error : '']" onblur="this.placeholder = 'Подтвердите пароль'">
            <p :class="error.checkpassword ? $style.error : ''">{{error.checkpassword}}</p>
            <input type="submit" name="send" value="Зарегистрироваться" :class="['genric-btn primary radius']" style="margin: 5px 0 20px">
          </form>
        </div>
      </div>
      <div class="row">
        <div :class="['col-md-5', $style.footer]">
          <p>Уже есть аккаунт? <router-link to="login">Войти</router-link></p>
        </div>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import Logo from 'Components/logo'

export default {
  name: 'Registration',
  components: {
    Logo
  },
  data () {
    return {
      user: {},
      error: {},
      showLoader: false
    }
  },
  methods: {
    signup () {
      this.error = {}
      this.showLoader = true
      this.$auth.signup(this.user)
        .then((res) => {
          this.showLoader = false
          this.showNotification('Вы успешно зарегистрировались', 'notification-success')
          this.$router.go('/categories')
        })
        .catch((err) => {
          this.showLoader = false
          if (!err.response) {
            this.error = err
          } else if (err.response.data.message) {
            this.showNotification(err.response.data.message, 'notification-error')
          } else {
            this.error = err.response.data
          }
        })
    },
    showNotification (msg, type) {
      this.$notify({
        group: 'nextstep',
        type: type,
        text: msg,
        speed: 300
      })
    }
  }
}
</script>

<style src="../login/style.css" module></style>
