<template>
  <div :class="$style.video">
    <div class="row" style="height: 100%;">
      <div class="col-md-8">
        <div :class="$style.videoLeft">
          <!-- {{video.link}} -->
          <!-- <div v-html="video.link"></div> -->
          <VideoPlayer :class="$style.videoLeftVideo" :src="imageSrc"/>
          <div :class="$style.videoLeftDesc">
            <div class="flex fl-sb fl-aic"><h2>{{video.name}}</h2>
              <a :href="video.code" download style="color: #e0003b"><i class="icon-download2" style="margin-right: 5px;">
              </i>Скачать код урока</a></div>
            <p class="flex fl-sb fl-aic"><span>Автор: {{video.author}}</span>
              <span><i class="icon-alarm"></i>&nbsp;{{video.duration}}</span></p>
            <div>
              <h5>Описание</h5>
              <p>{{video.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div :class="$style.videoRight">
          <div :class="$style.videoRightUp" v-if="next._id || prev._id">
            <div :class="$style.videoRightUpEach" v-if="next._id">
              <h5>Следующий урок</h5>
              <div class="container">
                <div class="row" style="min-height: 40px;">
                  <div class="col-md-2 flex fl-c fl-aic fl-dc" :class="$style.videoRightUpEachLeft">
                    <img :src="video.course.logo" class="pointer">
                    <i class="icon-play2 pointer" @click="goToNext"></i>
                  </div>
                  <div class="col-md-10 flex fl-aic" :class="$style.videoRightUpEachLeft">{{next.name}}</div>
                </div>
              </div>
            </div>
            <div :class="$style.videoRightUpEach" v-if="prev._id">
              <h5>Предыдущий урок</h5>
              <div class="container">
                <div class="row" style="min-height: 40px;">
                  <div class="col-md-2 flex fl-c fl-aic" :class="$style.videoRightUpEachLeft">
                    <img :src="video.course.logo" class="pointer">
                    <i class="icon-play2 pointer" @click="goToPrev"></i>
                  </div>
                  <div class="col-md-10 flex fl-aic" :class="$style.videoRightUpEachLeft">{{prev.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div :class="$style.videoRightDown">
            <h3>Задачи:</h3>
            <p v-for="(task, index) in video.tasks">
              {{index + 1}}. {{task}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import VideoPlayer from 'Components/video'

export default {
  name: 'OneVideo',
  data () {
    return {
      video: {
        course: {}
      },
      showLoader: false,
      imageSrc: '',
      next: {},
      prev: {}
    }
  },
  components: {
    VideoPlayer
  },
  beforeMount () {
    this.$store.commit('changeCurrentNav', 'Category')
    this.getVideo()
    this.getNextVideo()
    this.getPrevVideo()
  },
  methods: {
    getVideo () {
      this.showLoader = true
      this.$apiVideo.checkVideo(this.$route.params.id)
        .then(res => {
          this.showLoader = false
          this.video = res.data
          this.$store.commit('changeCurrentPage', res.data.name)
          this.imageSrc = res.data.link
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getNextVideo () {
      this.showLoader = true
      this.$apiVideo.getNextVideo(this.$route.params.id)
        .then(res => {
          this.showLoader = false
          this.next = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    getPrevVideo () {
      this.showLoader = true
      this.$apiVideo.getPrevVideo(this.$route.params.id)
        .then(res => {
          this.showLoader = false
          this.prev = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    goToPrev () {
      this.$router.push('/video/' + this.prev._id)
    },
    goToNext () {
      this.$router.push('/video/' + this.next._id)
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  watch: {
    '$route' () {
      this.getVideo()
      this.getNextVideo()
      this.getPrevVideo()
    }
  }
}
</script>

<style src="./style.css" module></style>
