.video {
  height: calc(100vh - 102px);
  overflow: auto;
  color: #848484;
  position: relative;
  font-size: 14px;

  &--left {
    height: 100%;
    background: #fff;
    overflow-y: scroll;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

    &--video {
      width: 100%;
      /*border: 1px solid #fff;*/
    }

    &--desc {
      border-top: 1px solid #ccc;
      padding: 0 20px;

      & h2 {
        margin-bottom: 0px;
      }

      & p {
        margin: 10px 0;
      }

      & i {
        color: inherit;
      }
    }
  }

  &--right {
  height: 100%;
  overflow-y: hidden;

  & p {
    margin: 10px 0;
  }

  &--up {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    /*padding-bottom: 10px;*/

    &--each {
      padding: 10px 20px;

      &:nth-child(2) {
        border-top: 1px solid #ccc;
      }

      &--left {
        /*text-align: center;*/
        padding: 0;

        & i {
          display: none;
          font-size: 24px;
          color: #df003a;
        }

        & img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }

        &:hover {

          & i {
            display: block;
            /*transform: translateY(-150%);*/
          }

          & img {
            display: none;
            /*transform: translateY(-50%);*/
          }
        }
      }

      /*& i {
        font-size: 24px;

        &:hover {
          color: #1389E5;
        }
      }*/
    }
  }

  &--down {
    background-color: #fff;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 10px;
    height: calc(100% - 213px);
    overflow-y: scroll;

    & h3 {
      margin: 0;
    }
  }
  }
}