<template>
  <div :class="[$style.category]">
    <div :class="[$style.categoryGrid]">
      <div v-for="category in categories" :key="category._id" :class="[$style.categoryGridItem]"
        :style="'background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('+category.photo+') no-repeat center center/cover'">
        <div :class="[$style.categoryGridItemEdit]" v-if="currentUser.role === 'admin'"
          ><i class="icon-pencil pointer" @click="setEdit(category)"></i>
          <i class="icon-bin pointer" style="margin-left:5px" @click="openModalDelete(category._id)"></i></div>
        <div :class="['flex fl-dc fl-aic fl-c pointer']" style="width: 100%; height:100%;" @click="goToCourses(category._id)">
          <div :class="[$style.categoryGridItemHeader]">{{category.name}}</div>
          <p :class="[$style.categoryGridItemSub]">({{category.course || 0}} курсов)</p>
        </div>
        
      </div>
    </div>
    <div :class="$style.categoryNomsg" v-if="categories.length === 0">Нет категорий</div>
    <modal name="add-category" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>{{modalType === 'add' ? 'Добавить' : 'Изменить'}} категорию</p>
          <button name="cancel" title="Закрыть окно" @click="closeModal" class="pointer"><i class="icon-cross"></i></button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]" @submit.prevent="submit">
          <div :class="[$style.modalBodyImg]">
            <img :src="imageSrc" alt="Preview image">
          </div>
          <div :class="['flex fl-sb fl-aic', $style.modalBodyInput]" >
            <input type="text" name="name" placeholder="Введите название категории" v-model="category.name"
              :class="[$style.modalBodyInputText, 'single-input-primary']">
            <span :class="[$style.fileUpload, $style.fileUploadIcon, 'icon-attachment']" title="Загрузить файл">
              <input :class="[$style.fileUploadFile]" type="file" name="filename" @change="uploadFile">
            </span>
          </div>
          <v-loader :show="showLoader"></v-loader>
          <div :class="['flex', 'fl-fe', $style.modalBodyAdd]">
            <button :class="['genric-btn radius', category.name && (category.photo || category.file) ? 'primary' : 'disable']"
              :disabled="!(category.name && (category.photo || category.file))">
            {{modalType === 'add' ? 'Добавить' : 'Изменить'}}</button>
          </div>
        </form>
      </div>
    </modal>
    <modal name="delete-category" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удаление категории</p>
          <button name="cancel" title="Закрыть окно" @click="closeModalDelete" class="pointer"><i class="icon-cross"></i></button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]">
            <p>Вы уверены, что хотите удалить эту категорию?</p>
            <p>Внимание! Вместе с категорией будут удалены все курсы, видеоуроки и книги этой категории!</p>
            <div :class="['flex fl-se', $style.modalBodyDelete]"><button class="genric-btn primary radius" @click="remove">Да</button>
              <button class="genric-btn primary-border radius" @click="closeModalDelete">Нет</button></div>
          <v-loader :show="showLoader"></v-loader>
        </form>
      </div>
    </modal>
    <v-loader :show="showLoader"></v-loader>
    <button :class="[$style.categoryAdd, 'genric-btn primary-border circle']" title="Добавить категорию" type="button" @click="openModal('add')"
      v-if="currentUser.role === 'admin'"><i class="icon-plus"></i></button>
  </div>
</template>

<script type="text/javascript">
export default {
  name: 'Category',
  data () {
    return {
      categories: [],
      category: {},
      modalType: 'add',
      imageSrc: 'images/placeholder-image.png',
      showLoader: false,
      itemToDelete: ''
    }
  },
  computed: {
    currentUser () {
      return this.$auth.currentUser()
    }
  },
  beforeMount () {
    this.getCategories()
    this.$store.commit('changeCurrentPage', 'Все категории')
    this.$store.commit('changeCurrentNav', this.$route.name)
  },
  methods: {
    openModalDelete (id) {
      this.itemToDelete = id
      this.$modal.show('delete-category')
    },
    openModal (type) {
      this.modalType = type
      if (type === 'add') {
        this.category = {}
        this.imageSrc = 'images/placeholder-image.png'
      }
      this.$modal.show('add-category')
    },
    closeModal () {
      this.category = {}
      this.$modal.hide('add-category')
    },
    closeModalDelete () {
      this.itemToDelete = ''
      this.$modal.hide('delete-category')
    },
    uploadFile (ev) {
      if (ev.target.files && ev.target.files[0]) {
        const reader = new FileReader()

        reader.onload = e => { this.imageSrc = e.target.result }

        reader.readAsDataURL(ev.target.files[0])
      }
      this.category.file = ev.target.files[0]
    },
    submit () {
      if (this.modalType === 'add') this.addCategory()
      else this.editCategory()
    },
    addCategory () {
      this.showLoader = true
      var data = new FormData()
      data.append('name', this.category.name)
      data.append('photo', this.category.file)
      this.$api.addCategory(data)
        .then(res => {
          this.showLoader = false
          this.categories.push(res.data)
          this.imageSrc = 'images/placeholder-image.png'
          this.closeModal()
          this.handleErr('Новая категория успешно добавлена', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    editCategory () {
      this.showLoader = true
      var data = new FormData()
      data.append('name', this.category.name)
      data.append('photo', this.category.file)
      this.$api.editCategory(data, this.category._id)
        .then(res => {
          this.showLoader = false
          this.categories.forEach((item, index) => {
            if (item._id.toString() === this.category._id.toString()) {
              this.categories[index] = res.data
            }
          })
          this.imageSrc = 'images/placeholder-image.png'
          this.closeModal()
          this.handleErr('Категория успешно отредактирована', 'notification-success')
        })
        .catch(err => {
          this.handleErr(err.response.data.message, 'notification-error')
        })
    },
    getCategories () {
      this.showLoader = true
      this.$api.getCategories()
        .then(res => {
          this.showLoader = false
          this.categories = res.data
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    setEdit (data) {
      this.category = data
      this.imageSrc = data.photo
      this.openModal('edit')
    },
    goToCourses (id) {
      this.$router.push('/category/' + id)
    },
    remove () {
      this.showLoader = true
      this.$api.removeCategory(this.itemToDelete)
        .then(res => {
          this.categories.forEach((item, index) => {
            if (item._id.toString() === this.itemToDelete) {
              this.categories.splice(index, 1)
            }
          })
          this.closeModalDelete()
          this.showLoader = false
          this.itemToDelete = ''
          this.handleErr('Категория успешно удалена', 'notification-success')
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  }
}
</script>

<style src="./style.css" module></style>