.category {
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  height: calc(100vh - 102px);
  overflow: auto;
  color: #fff;
  position: relative;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

  & i {
    color: inherit;
  }

  &--grid {
    display: grid;
    /*grid-template-columns: calc((100% - 40px)/3) calc((100% - 40px)/3) calc((100% - 40px)/3);*/
    grid-template-columns: repeat(3, calc((100% - 40px)/3));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;

    &--item {
      justify-self: center;
      width: 100%;
      /*max-width: 360px;*/
      height: 150px;
      border-radius: 3px;
      background-repeat: no-repeat;
      position: relative;

      & p {
        margin: 5px 0;
      }

      &--header {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
      }

      &--sub {
        font-size: 14px;
        font-weight: 400;
      }

      &--edit {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 14px;
        z-index: 1;
      }
    }
  }

  &--add {
    position: fixed;
    z-index: 1;
    bottom: 40px;
    right: 40px;
    /*color: #fff;*/
    /*background-color: #1389E5;*/
    /*border: none;*/
    outline: none;
    border-radius: 50%!important;
    font-weight: 700;
    /*padding: 10px;*/
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 1em;
  }

  &--nomsg {
    color: #000;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
  }
}

.modal {
  height: 100%;
  font-size: 14px;

  &--header {
    color: #fff;
    /*padding: 0 20px;*/
    /*line-height: 3;*/
    background: #e0003b;

    & p {
      padding: 0 10px;
    }

    & button {
      background-color: #e0003b;
      border: none;
      padding: 0 10px;
      color: #fff;
      font-size: 12px;
    }
  }

  &--body {
    padding: 10px 20px 20px;
    flex-grow: 1;

    & p {
      color: #555;
      text-align: center;
    }

    &--delete {
      text-align: center;

      & button {
        line-height: 2em;
      }
    }

    &--img {
      width: 100%;
      height: 200px;
      padding: 10px 0;
      text-align: center;

      & img {
        width: 100%;
        max-height: 100%;
        border-radius: 2px;
      }
    }

    &--input {
      padding: 10px 0;

      &--text {
        width: calc(100% - 40px);
      }

      &--upload {
        position: relative;
        height: 30px;
        width: 30px;
        border-radius: 2px;
        background-color: #19BD67;
        color: #fff;
        border: none;
        outline:none;
        vertical-align: middle;

        &--file {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          min-height: 100%;
          filter: alpha(opacity=0);
          opacity: 0;
          outline: none;
        }
      }
    }

    &--add {
      padding: 10px 0;
    }
  }
}

.fileUpload {
  position: relative;
  background: #19BD67;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 7.5px;
  border-radius: 2px;

  &--file {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 30px;
    height: 30px;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: pointer;
  }
}