<template>
  <div :class="[$style.course, 'container']">
    <div :class="['row', $style.courseWrapper, $style.courseHeader]">
      <div :class="['col-md-7', $style.courseHeaderDescription]">
        {{ course.description }}
      </div>
      <div :class="['col-md-5', $style.courseHeaderLogo]">
        <img :src="course.logo">
      </div>
    </div>
    <div :class="['row', $style.courseWrapper, $style.courseBody]">
     <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span :class="[$style.courseBodyNav, bodyNav === 'video' ? $style.courseBodyNavActive : '', 'pointer']"
            @click="changeNav('video')">Видеоуроки</span>|
          <span :class="[$style.courseBodyNav, bodyNav === 'book' ? $style.courseBodyNavActive : '', 'pointer']"
            @click="changeNav('book')">Книги</span>
          </div>
        </div>
        <TableVideo :type="bodyNav"/>
      </div>
    </div>
    <modal name="delete-video" width="400" height="auto">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Удаление {{bodyNav === 'video' ? 'видео' : 'книги'}}</p>
          <button name="cancel" title="Закрыть окно" @click="closeModal" class="pointer"><i class="icon-cross"></i></button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]">
          <p>Вы уверены, что хотите удалить {{bodyNav === 'video' ? 'это видео' : 'эту книгу'}}?</p>
          <div class="flex fl-se"><button class="genric-btn primary radius" @click="remove">Да</button>
            <button class="genric-btn primary-border radius" @click="closeModal">Нет</button></div>
          <v-loader :show="showLoader"></v-loader>
        </form>
      </div>
    </modal>
    <v-loader :show="showLoader"></v-loader>
  </div>
</template>

<script type="text/javascript">
import TableVideo from 'Components/tableVideo'
import eventBus from 'EventBus'

export default {
  name: 'OneCourse',
  data () {
    return {
      bodyNav: 'video',
      course: {},
      showLoader: false,
      itemToDelete: ''
    }
  },
  beforeMount () {
    this.$store.commit('changeCurrentNav', 'Category')
    this.getCourse()
  },
  mounted () {
    eventBus.$on('delete-video', data => {
      this.itemToDelete = data
      this.openModal()
    })
  },
  methods: {
    openModal () {
      this.$modal.show('delete-video')
    },
    closeModal () {
      this.$modal.hide('delete-video')
    },
    changeNav (nav) {
      this.bodyNav = nav
    },
    getCourse () {
      this.showLoader = true
      this.$apiCourse.checkCourse(this.$route.params.id)
        .then(res => {
          this.course = res.data
          this.$store.commit('changeCurrentPage', res.data.name)
          this.showLoader = false
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    remove () {
      if (this.bodyNav === 'video') this.deleteVideo()
      else this.deleteBook()
    },
    deleteVideo () {
      this.showLoader = true
      this.$apiVideo.deleteVideo(this.itemToDelete)
        .then(res => {
          this.showLoader = false
          eventBus.$emit('video-deleted', this.itemToDelete)
          this.itemToDelete = ''
          this.closeModal()
          this.handleErr('Видеоурок успешно удален', 'notification-success')
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    deleteBook () {
      this.showLoader = true
      this.$apiBook.deleteBook(this.itemToDelete)
        .then(res => {
          this.showLoader = false
          eventBus.$emit('video-deleted', this.itemToDelete)
          this.itemToDelete = ''
          this.closeModal()
          this.handleErr('Книга успешно удалена', 'notification-success')
        })
        .catch(err => { this.handleErr(err.response.data.message, 'notification-error') })
    },
    handleErr (msg, type) {
      this.showLoader = false
      if (msg === 'Invalid token') {
        this.$auth.logout().then(res => { this.$router.go('login') })
      } else {
        this.$notify({
          group: 'nextstep',
          type: type,
          text: msg,
          speed: 300
        })
      }
    }
  },
  components: {
    TableVideo
  }
}
</script>

<style src="./style.css" module></style>