.course {
  /*padding: 20px;*/
  /*background-color: #fff;*/
  /*border-radius: 3px;*/
  height: calc(100vh - 102px);
  overflow: auto;
  /*overflow-y: hidden;*/
  color: #848484;
  position: relative;
  font-size: 14px;

  & i {
    color: #fff;
  }

  &--header {
    height: 140px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

    &--logo {
      height: 100px;
      text-align: center;

      & img {
        height: 100%;
      }
    }
  }

  &--body {
    height: calc(100% - 160px);
    margin-top: 20px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

    &--nav {
      display: inline-block;
      padding: 5px 20px;
      border-bottom: 2px solid #fff;

      &--active {
        border-color: #e0003b;
      }

      &:hover {
        color: #e0003b;
      }
    }
  }

  &--wrapper {
    background-color: #fff;
    border-radius: 3px;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow-y: auto;
  }
}

.modal {
  height: 100%;
  font-size: 14px;

  &--header {
    color: #fff;
    /*padding: 0 20px;*/
    /*line-height: 3;*/
    background: #e0003b;

    & p {
      padding: 0 10px;
    }

    & button {
      background-color: #e0003b;
      border: none;
      padding: 0 10px;
      color: #fff;
      font-size: 12px;
    }
  }

  &--body {
   padding: 10px 20px 20px; 

   & p {
    text-align: center;
   }

   & div {
    text-align: center;

    & button {
      line-height: 2em;
    }
   }
  }
}