<style src="./style.css" module></style>

<template>
  <div :class="$style.loader" v-show="show">
    <img src="images/loading.gif">
  </div>
</template>

<script>
export default {
  name: 'mLoader',
  props: {
    show: {
      type: Boolean,
      default: false
    }
  }
}
</script>
