.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);

  & img {
    position: absolute;
    top: 40%;
    left: 48%;
    width: 50px;
  }
}
