<template>
  <div class="item">
    <div class="player">
      <video-player  class="vjs-custom-skin"
                     ref="videoPlayer"
                     :options="playerOptions"
                     :playsinline="true">
      </video-player>
    </div>
  </div>
</template>

<script type="text/javascript">
import 'video.js'
import { videoPlayer } from 'vue-video-player'

export default {
  name: 'VideoPlayer',
  props: ['src'],
  data () {
    return {
      playerOptions: {
        language: 'en',
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        sources: [{
          type: 'video/mp4',
          src: this.src
        }]
      }
    }
  },
  computed: {
    player () {
      return this.$refs.videoPlayer.player
    }
  },
  watch: {
    src (newValue) {
      this.playerOptions.sources[0].src = newValue
      // console.log(newValue)
      // var $source = videojs('my-video')
      // $source.src(newValue)
    }
  },
  components: {
    videoPlayer
  }
}
</script>

<style src="./style.css" module></style>

<!-- <template>
  <div :class="$style.video">
    <video id="my-video" :class="['video-js', $style.video]" controls preload="auto" data-setup="{}">
      <source :src="src">
      <source :src="src" type='video/webm'>
      Ваш брузер не поддерживает HTML5
    </video>
  </div>
</template>

<script>
  import 'video.js'

  export default {
    props: ['src'],
    beforeMount () {
      
    }
  }
</script>
<style src="./style.css" module></style> -->