<template>
  <div :class="[$style.logo, getColor]">
    <router-link to="/"><span>Next</span><span>Step</span></router-link>
  </div>
</template>

<script type="text/javascript">

export default {
  name: 'Logo',
  props: {
    color: {
      type: String,
      default: 'blue'
    }
  },
  methods: {
    getColor () {
      const styleMap = {
        'black': this.$style.logoBlack,
        'blue': this.$style.logoBlue
      }
      return styleMap[this.color]
    }
  }
}
</script>

<style src="./style.css" module></style>
