.logo {
  font-weight: 700;
  font-size: 26px;
  font-family:inherit;
  margin: 0 auto;

  &--blue {
    & span:first-child {
      /*color: #1389E5;*/
      color: #38a4ff;
    }

    & span:nth-child(2) {
      /*color: #19BD67;*/
      color: #73d61c;
    }
  }
  
  &--black {
    color: #000;
  }
}