<template>
  <div :class="$style.about">
    <div>
      <h3 style="margin-top: 0;">О системе</h3>
      <p>
        NextStep - это образовательный портал, содержащий курсы в сфере программирования.  Курсы состоят из видео-уроков, книг и практических заданий. Стоимость каждого курса составляет 1$. Авторское право видео-уроков принадлежит компании ТОО “Automato”.
      </p>
    </div>
    <div style="margin-top: 30px;">
      <h3>Политика о конфиденциальности</h3>
      <p>
        <b>1. Определения</b><br>
        Интернет проект NextStep (далее - URL, мы) серьезно относится к вопросу конфиденциальности информации своих клиентов и посетителей сайта nextstep (далее – «вы», «посетители сайта»). <br>
        Персонифицированной мы называем информацию, содержащую персональные данные (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях совершаемых вами на сайте URL. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости сайта).
      </p>
      <p>
        <b>2. Использование информации</b><br>
        Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам предписано действующим законодательством Республики Казахстан. Мы публикуем и распространяем только отчеты, построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью которого является развитие продуктов и услуг URL
      </p>
      <p>
        <b>3. Ссылки</b><br>
        Сайт URL может содержать ссылки на другие сайты, не имеющие отношения к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах.
      </p>
      <p>
        <b>4. Ограничение ответственности</b><br>
        Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт URL и вся размещенная на нем информация представлены по принципу «как есть» без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования размещенной на нем информации.
      </p>
      <p>
        <b>5. Контакты</b><br>
        По вопросам, касающимся настоящей политики, просьба обращаться по адресу ok@automato.me
      </p>
    </div>
  </div>
</template>

<script type="text/javascript">

export default {
  name: 'About',
  beforeMount () {
    this.$store.commit('changeCurrentPage', 'О системе')
    this.$store.commit('changeCurrentNav', this.$route.name)
  }
}
</script>

<style src="./style.css" module></style>
