.about {
  height: calc(100vh - 102px);
  font-size: 14px;
  color: #848484;
  background: #fff;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}