<template>
  <div :class="[$style.menu, 'container']">
    <div :class="['row', $style.menuLogo]">
      <Logo/>
    </div>
    <div :class="['row', $style.menuProfile]">
      <div :class="$style.menuProfileAvatar">
        <img :src="currentUser.avatar" class="pointer" @click="changeNav('Profile', 'Профиль')">
      </div>
      <p>{{currentUser.name}}</p>
      <div :class="$style.menuProfileIcons">
        <i class="icon-cog pointer" @click="changeNav('Profile', 'Профиль')"></i>
        <i class="icon-switch pointer" @click="logout"></i>
      </div>
    </div>
    <div :class="['row', $style.menuNav]">
      <p>Навигация</p>
      <div :class="[$style.menuNavItem, currentNav === 'Category' ? $style.menuNavItemActive : '', 'flex fl-aic pointer']"
        @click="changeNav('Category', 'Все категории')">
        <i class="icon-files-empty"></i>Все курсы</div>
      <div :class="[$style.menuNavItem, currentNav === 'MyCourses' ? $style.menuNavItemActive : '', 'flex fl-aic pointer']"
        v-if="currentUser.role === 'user'" @click="changeNav('MyCourses', 'Мои курсы')">
        <i class="icon-file-text2"></i>Мои курсы</div>
      <div :class="[$style.menuNavItem, currentNav === 'AddCourse' ? $style.menuNavItemActive : '', 'flex fl-aic pointer']"
        v-if="currentUser.role === 'admin'" @click="changeNav('AddCourse', 'Добавить курс')">
        <i class="icon-file-text2"></i>Добавить курс</div>
      <div :class="[$style.menuNavItem, currentNav === 'AddVideo' ? $style.menuNavItemActive : '', 'flex fl-aic pointer']"
        v-if="currentUser.role === 'admin'" @click="changeNav('AddVideo', 'Добавить видеоурок')">
        <i class="icon-video-camera"></i>Добавить видео</div>
      <div :class="[$style.menuNavItem, currentNav === 'AddBook' ? $style.menuNavItemActive : '', 'flex fl-aic pointer']"
        v-if="currentUser.role === 'admin'" @click="changeNav('AddBook', 'Добавить книгу')">
        <i class="icon-book"></i>Добавить книгу</div>
      <div :class="[$style.menuNavItem, currentNav === 'User' ? $style.menuNavItemActive : '', 'flex fl-aic pointer']"
        v-if="currentUser.role === 'admin'" @click="changeNav('User', 'Все пользователи')">
        <i class="icon-users"></i>Все пользователи</div>
      <div :class="[$style.menuNavItem, currentNav === 'About' ? $style.menuNavItemActive : '', 'flex fl-aic pointer']"
        @click="changeNav('About', 'О системе')">
        <i class="icon-pushpin"></i>О системе</div>
    </div>
  </div>
</template>

<script type="text/javascript">
import Logo from 'Components/logo'

export default {
  name: 'Menu',
  components: {
    Logo
  },
  computed: {
    currentNav () {
      return this.$store.getters.getCurrentNav
    },
    currentUser () {
      return this.$store.getters.getCurrentUser
    }
  },
  methods: {
    changeNav (nav, page) {
      this.$store.commit('changeCurrentNav', nav)
      this.$store.commit('changeCurrentPage', page)
      this.$router.push({ name: nav })
    },
    logout () {
      this.$auth.logout()
        .then(res => {
          this.$router.go('login')
          this.$store.commit('setCurrentUser', {})
        })
    }
  }
}
</script>

<style src="./style.css" module></style>
