.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 235px;
  height: 100vh;
  background-color: #fff;
  font-size: 14px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);

  &--logo {
    padding: 20px 0;
  }

  &--profile {
    padding: 20px 0;
    color: #96A2A5;
    text-align: center;

    &--avatar {
      padding: 10px 0;
      width: 100%;

      & img {
        /*margin: auto 0;*/
        width: 82px;
        height: 82px;
        border: 1px solid #F2F2F2;
        border-radius: 50%;
        padding: 5px;
      }
    }

    & p {
      width: 100%;
      margin: 0;
    }

    &--icons {
      width: 100%;
      padding: 10px 0;

      & i:nth-child(2) {
        margin-left: 10px;
        color: #38a4ff;
      }
    }
  }

  &--nav {
    & p {
      margin-left: 20px;
      color: #848484;
    }

    &--item {
      width: 100%;
      height: 40px;
      color: #435965;

      & i {
        margin-left: 25px;
        margin-right: 20px;
      }

      &:hover {
        color: #e0003b;
      }

      &--active {
        color: #e0003b;
        border-left: 4px solid #e0003b;

        & i {
          margin-left: 21px;
        }
      }
    }
  }
}